{% extends "snippets/base.html" %}
{% load staticfiles %}
{% load dash %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/destination/destination.css' %}">
{% endblock %}
{% block title %}
<title>The places Offered By Camping Co</title>
{% endblock %}
{% block meta %}
<meta name="description" content="CBook a sample itinerary for Assam, Meghalaya, Arunachal Pradesh, Nagaland or Bhutan. Book your self-drive overland and camping expeditions in Northeast India and Bhutan with Camping Co.’s off-road campers fitted with rooftop tents and camping gear. Like somewhere? Stay there!">
<meta name="keywords" content="travel destination, destination for camping, beautiful east india,beautiful notheast,mountains arunachal, mountain meghalaya, caving in meghalaya, caving in meghalaya, waterfall of meghalaya, waterfalls meghalaya ,umiam lake, white water village , mawphlang sacred groove,shnonpdeng, dawki,krangsuri,living root bridge, dainthlen falls, kynrem falls, nohsngithiang falls">
{% endblock %}
{% block content_block %}
    <h1 style="visibility: hidden;">Campsites</h1>
<div class="container content">
   <div class="row">
       {% for x in map %}
      <div class="col-md-4 col-12">
         <div class="card">
         <img src="{{x.image}}" class="card-img-top" alt="destination" crossorigin="anonymous">
         <div class="card-body">
             <h5 class="card-title">{{x.title}}</h5>
             <div class="rating" style="display: block; margin: 0 auto;">
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
             </div>
           <p class="card-text">{{x.description|truncatechars_html:100}}</p>
             <div class="card-url">
                 <h3>
                    <span class="card-url-2">Price starts @ INR {{x.starting}}</span>
                 </h3>
             </div>
         </div>
      </div>
    </div>
       {% endfor %}
   </div>
    <br>
    <a class="btn btn-secondary" href="{% url 'app:home' %}">Book now</a>
        <button class="print btn btn-secondary">Save as pdf</button>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js" integrity="sha256-c9vxcXyAG4paArQG3xk6DjyW/9aHxai2ef9RpMWO44A=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js" crossorigin="anonymous"></script>
<script>
window.onload = function(){
    $('.print').click(function () {
    domtoimage.toPng(document.querySelector('.content'))
        .then(function (blob) {
            var pdf = new jsPDF('l', 'pt', [$('.content').width(), $('.content').height()]);

            pdf.addImage(blob, 'PNG', 0, 0, $('.content').width(), $('.content').height());
            pdf.save("itinerary.pdf");

        });
});
}

</script>
{% endblock %}