{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/customer/experience.css' %}">
    <link rel="stylesheet" href="{% static 'css/monster.css' %}">
    <link rel="preload"  href="{% static 'css/calender/jquery.datetimepicker.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{% endblock %}

{% block title %}
    <title>Customer Experience</title>
{% endblock %}
{% if 1 %}
    <h2>{{no_site}}</h2>
{% endif %}
    <div id="wrap">
        <div id="exit"><i class="fa fa-close"></i></div>

        <div id="qBox"></div>
        <div class="flexContainer">
            <div class="flexItem" id="back">
                <div id="backIcon"><i class="fa fa-chevron-left"></i></div>
            </div>  <!-- /back -->
            <div class="flexItem" id="aBox"></div>
            <div class="flexItem" id="fwd">
                <div id="fwdIcon"><i class="fa fa-chevron-right"></i></div>
            </div> <!-- /fwd -->
        </div> <!-- /flexContainer -->

        <div id="errorBox"><div id="error"></div></div>

        <div id="submitBox"></div>
    </div> <!-- /wrap -->

    <div id="qOpen">Try again?</div>
<script defer src="{% static 'js/jquery.js' %}"></script>
<script defer src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
<script defer src="{% static 'js/experience.js' %}"></script>