{% extends "snippets/base.html" %}
    {% load staticfiles %} {% block css %}
        <link rel="stylesheet" href="{% static 'css/vehicles/vehicles.css' %}">
    {% endblock %}
{% block title %}
    <title>Self Driving Camper Rentals in India | Camping Co</title>
{% endblock %}
{% block meta %}
<meta name="description" content="Click here to see our complete rank of camper rentals available in India. Have any questions? Get in touch with us now!">
<meta name="keywords" content="vehicles for camping, vehicles for camping company, camping vehicles northeast, rooftop tent vehicle , rent a vehicle meghalaya, overlanding car thar, modified vehicles northeast, cheapest camping vehicle, guwahati camping vehicle rent">
{% endblock %}
{% block content_block %}
<!--<h1 style="visibility:hidden;">Our Campers</h1>-->
<div style="margin:3rem;"></div>
    <div class="container">
        <div class="row">
            {% for car in cars %}
                <div class="col-lg-4 col-12">
                           <div class="card">
                               <div class="card__side card__side--front">
                                    <div class="card__picture card__picture--2" style="background-image: url({{car.car_image.url}});">
                                        &nbsp;
                                    </div>
                                    <h4 class="card__heading">
                                        <span class="card__heading-span card__heading-span--2">{{car.car_name}} {{car.drive_train}}</span>
                                    </h4>
                                    <div class="card__details">
                                        <p>{{car.description}}</p>
                                    </div>
                               </div>
                               <div class="card__side card__side--back card__side--back-2">
                                    <div class="card__cta">
                                        <div class="card__price-box">
                                            <p class="card__price-only">Starting at</p>
                                            <p class="card__price-value">INR {{car.price}}</p>
                                        </div>
                                        <form action="{% url 'pay:pay' %}" method="POST">{% csrf_token %}
                                            <input hidden name="price" value="{{car.price}}">
                                            <button id="btn-{{car.pk}}-{{car.seat}}" class="btn btn--white">Book Now!</button>
                                        </form>

                                    </div>
                                </div>
                           </div>
                    </div>
             {% endfor %}
        </div>
    </div>
<br>
{% endblock %}