{% extends "snippets/base.html" %}
    {% load staticfiles %} {% block css %}
        <link rel="stylesheet" href="{% static 'css/vehicles/vehicles.css' %}">
    {% endblock %}
{% block title %}
    <title>Book Your dream Holiday.</title>
{% endblock %}
{% block meta %}
<meta name="description" content="Book our purpose-built overland campers to tour Northeast India and Bhutan. You can camp in remote locations with stunning views in the rooftop tents attached on the vehicles. Explore unique destinations, communities, and culture in Northeast India and Bhutan with Camping Co.’s pioneering self-drive overland travel form.">
<meta name="keywords" content="vehicles for camping, vehicles for camping company, camping vehicles northeast, rooftop tent vehicle , rent a vehicle meghalaya, overlanding car thar, modified vehicles northeast, cheapest camping vehicle, guwahati camping vehicle rent">
{% endblock %}
{% block content_block %}
<div style="margin:3rem;"></div>
    <div class="container">
        <div class="row">
            {% for car in cars %}
                <div class="col-lg-4 col-12">
                           <div class="card">
                               <div class="card__side card__side--front">
                                    <div class="card__picture card__picture--2" style="background-image: url({{car.car_image.url}});background-size: cover; background-position: bottom;">
                                        &nbsp;
                                    </div>
                                    <h4 class="card__heading">
                                        <span class="card__heading-span card__heading-span--2">{{car.drive_train}}</span>
                                    </h4>
                                    <div class="card__details">
                                        <p>{{car.description}}</p>
                                    </div>
                               </div>
                               <div class="card__side card__side--back card__side--back-2">
                                    <div class="card__cta">
                                        <div class="card__price-box">
                                            <p class="card__price-only">Starting at</p>
                                            <p class="card__price-value">INR {{car.price}}</p>
                                        </div>
                                        <form action="{% url 'pay:pay' %}" method="POST">{% csrf_token %}
                                            <input hidden name="price" value="{{car.price}}">
                                            <button id="btn-{{car.pk}}-{{car.seat}}" class="btn btn--white">Book Now!</button>
                                        </form>
                                        <a href="{% url 'pay:pay' %}" class="btn btn--white">Book now!</a>
                                    </div>
                                </div>
                           </div>
                    </div>
             {% endfor %}
        </div>
    </div>
<br>
<script>
window.onload = function() {
    var queryDict = {}
    location.search.substr(1).split("&").forEach(function(item) {queryDict[item.split("=")[0]] = item.split("=")[1]})
    localStorage.setItem("duration", queryDict["Duration"]);
    localStorage.setItem("check_in", queryDict["tripDay"]);

        $("button[id^='btn-']").click(function(){
            localStorage.setItem("car_id", parseInt(this.id.split('-')[1]))
            localStorage.setItem("car_seat", parseInt(this.id.split('-')[2]))
        })
}
</script>
{% endblock %}
