{% extends "snippets/base.html" %}
    {% load staticfiles %} {% block css %}
        <link rel="stylesheet" href="{% static 'css/vehicles/vehicles.css' %}">
    {% endblock %}
{% block title %}
    <title>Self Driving Camper Rentals in India | Camping Co</title>
{% endblock %}
{% block meta %}
<meta name="description" content="Click here to see our complete rank of camper rentals available in India. Have any questions? Get in touch with us now!">
<meta name="keywords" content="vehicles for camping, vehicles for camping company, camping vehicles northeast, rooftop tent vehicle , rent a vehicle meghalaya, overlanding car thar, modified vehicles northeast, cheapest camping vehicle, guwahati camping vehicle rent">
{% endblock %}
{% block content_block %}
<!--<h1 style="visibility:hidden;">Our Campers</h1>-->
<div style="margin:3rem;"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                       <div class="card">
                           <div class="card__side card__side--front">
                                <div class="card__picture card__picture--2" style="background-image: url(https://camping-company.s3.amazonaws.com/media/cars/whi.jpg);background-size: cover; background-position: bottom;">
                                    &nbsp;
                                </div>
                                <h4 class="card__heading">
                                    <span class="card__heading-span card__heading-span--2">Xenon 4X2</span>
                                </h4>
                                <div class="card__details">
                                    <p>The Xenon come equipped with a retractable (hydraulic suspension) rooftop tent that comfortably sleeps two travellers. The hard shell top provides four vertical walls which means extra space in the tent. The retractable ladder can be attached to the tent to get on and off.Set up time: 2-3 minutes</p>
                                </div>
                           </div>
                           <div class="card__side card__side--back card__side--back-2">
                                <div class="card__cta">
                                    <div class="card__price-box">
                                        <p class="card__price-only">Starting at</p>
                                        <p class="card__price-value">INR 2999</p>
                                    </div>
                                    <a href="{% url 'pay:pay' %}" class="btn btn--white">Book now!</a>
                                </div>
                            </div>
                       </div>
                </div>
            <div class="col-lg-4 col-12">
               <div class="card">
                   <div class="card__side card__side--front">
                        <div class="card__picture card__picture--2" style="background-image: url(https://camping-company.s3.amazonaws.com/media/cars/IMG_20200606_150629_141-compressor.jpg); background-size: cover; background-position: bottom;">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--2">Thar 4X4</span>
                        </h4>
                        <div class="card__details">
                            <p>The Thar is equipped with a foldable rooftop tent that comfortably sleeps two travellers. The foldable tents are made of premium quality, breathable poly-cotton canvas with pop up window awning and flyscreen windows. The retractable ladder is attached to the tent. Set up time: 2-3 minutes</p>
                        </div>
                   </div>
                   <div class="card__side card__side--back card__side--back-2">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only">Starting at</p>
                                <p class="card__price-value">INR 2999</p>
                            </div>
                            <a href="{% url 'pay:pay' %}" class="btn btn--white">Book now!</a>
                        </div>
                    </div>
               </div>
            </div>

            <div class="col-lg-4 col-12">
                       <div class="card">
                           <div class="card__side card__side--front">
                                <div class="card__picture card__picture--2" style="background-image:url(https://camping-company.s3.amazonaws.com/media/cars/WhatsApp_Image_2021-09-11_at_11.14.04_AM.jpeg);background-size: cover; background-position: center;">
                                    &nbsp;
                                </div>
                                <h4 class="card__heading">
                                    <span class="card__heading-span card__heading-span--2">Xenon Annex 4X2</span>
                                </h4>
                                <div class="card__details">
                                   <p>The Xenon come equipped with a retractable (hydraulic suspension) rooftop tent that comfortably sleeps two travellers. The hard shell top provides four vertical walls which means extra space in the tent. The retractable ladder can be attached to the tent to get on and off.Set up time: 2-3 minutes</p>

                                </div>
                           </div>
                           <div class="card__side card__side--back card__side--back-2">
                                <div class="card__cta">
                                    <div class="card__price-box">
                                        <p class="card__price-only">Starting at</p>
                                        <p class="card__price-value">INR 3499</p>
                                    </div>
                                    <a href="{% url 'pay:pay' %}" class="btn btn--white">Book now!</a>
                                </div>
                            </div>
                       </div>
                    </div>
        </div>
    </div>
{% endblock %}