{% extends "snippets/base.html" %}
{% load staticfiles %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/customer/payment.css' %}">
    {% endblock %}


    {% block content_block %}
<br>

<div class="shopping-cart my-5 container">
<h1>Shopping Cart</h1>
<form id="payment-form" method="POST">{% csrf_token %}
  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-line-price">Total</label>
  </div>

  <div class="product">
    <div class="product-image">
      <img src="{{vehicle.car_image.url}}">
    </div>
    <div class="product-details">
      <div class="product-title">Tent</div>
    </div>
    <div class="product-price">{{tent.price}}</div>
    <div class="product-quantity">
      <input type="number" value="1" min="1">
    </div>
    <div class="product-line-price" id="car-price">{{tent.price}}</div>
  </div>
    <hr>

  {% if tent.telescopic_ladder is not 0 %}
  <div class="product">
    <div class="product-image">
      <img src="{{vehicle.car_image.url}}">
    </div>
    <div class="product-details">
      <div class="product-title">Telescopic Ladder</div>
    </div>
    <div class="product-price">{{tent.telescopic_ladder}}</div>
    <div class="product-quantity">
      <input type="number" value="0" min="0">
    </div>
    <div class="product-line-price">0</div>
  </div>
    <hr>
  {% endif %}

    <div class="product">
    <div class="product-image">
      <img src="{{vehicle.car_image.url}}">
    </div>
    <div class="product-details">
      <div class="product-title">Shipping charges</div>
    </div>
    <div class="product-price">5000</div>
    <div class="product-quantity">
      <input type="number" disabled value="1" min="1">
    </div>
    <div class="product-line-price">5000</div>
  </div>
    <hr>

  <div id="coupon-text" style="margin-left: 20%;">
  <label for="coupon-code">Coupon code</label>
      <input style="max-width: 20%;" id="coupon-code" type="text">
        <button id="btn-coupon" style="font-size: 12px;" class="btn btn-secondary">Apply</button>
  <p style="font-size: 10px;"></p>
  </div>
  <hr/>
  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal">{{price}}</div>
    </div>
    <div class="totals-item">
      <label>IGST</label>
      <div class="totals-value" id="cart-tax">539.82</div>
    </div>
    <div class="totals-item">
      <label>Convenience charge</label>
      <div class="totals-value" id="cart-shipping">59.98</div>
    </div>

    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">3598.8</div>
    </div>

    <div class="totals-item">
      <label>Discount Applied</label>
      <div class="totals-value" id="cart-discount">0</div>
    </div>
  </div>

      <button id="rzp-button1" class="checkout">Pay</button>
</form>
</div>
<br>
<script defer src="{% static 'js/razorpay.js' %}"></script>
<script>



window.onload = function(){
 function couponCode(a){
        if(a<=100)
          coupon = (pri * a).toFixed(2);
        else
          coupon = a;
        $("#cart-discount").html(-coupon)
        pri = pri - coupon
        $(".product-line-price")[1].textContent = pri;
        if(a<=100)
          var iine = "You got " + 100*a.toString() + "% discount";
        else
            var iine = "You got " + a + " instant discount";
        $("#coupon-text").html(iine);
        recalculateCart()
        x = $("input")
        for (let y of x){
	        y.disabled = true
            }
  }
  var totals = 0;
  var taxs = 0;
  var shippings = 0;
  var taxRate = 0.18;
  var shippingRate = .024;
  var fadeTime = 300;
  var coupon = 0;
  var pri = {{tent.price}};

  recalculateCart()

  /* Assign actions */
  $('.product-quantity input').change( function() {
    updateQuantity(this);
  });

  $('.product-removal button').click( function() {
    removeItem(this);
  });



    /* Recalculate cart */
    function recalculateCart() {
      var subtotal = 0;

      /* Sum up row totals */
      $('.product').each(function () {
        subtotal += parseFloat($(this).children('.product-line-price').text());
      });

      /* Calculate totals */
      var tax = {{tent.price}} * taxRate;
      var shipping = (subtotal + tax) * shippingRate;
      var total = subtotal + tax + shipping;
      totals = total
      taxs = tax
      shippings = shipping

    /* Update totals display */
    $('.totals-value').fadeOut(fadeTime, function() {

      $('#cart-subtotal').html(subtotal.toFixed(2));
      $('#cart-tax').html(tax.toFixed(2));
      $('#cart-shipping').html(shipping.toFixed(2));
      $('#cart-total').html((total).toFixed(2));
      $('#cart-payable').html(total.toFixed(2));

      if(total == 0){
        $('.checkout').fadeOut(fadeTime);
      }else{
        $('.checkout').fadeIn(fadeTime);
      }
      $('.totals-value').fadeIn(fadeTime);
    });
  }


  /* Update quantity */
  function updateQuantity(quantityInput)
  {
    /* Calculate line price */
    var productRow = $(quantityInput).parent().parent();
    var price = parseFloat(productRow.children('.product-price').text());
    var quantity = $(quantityInput).val();
    var linePrice = price * quantity;

    /* Update line price display and recalc cart totals */
    productRow.children('.product-line-price').each(function () {
      $(this).fadeOut(fadeTime, function() {
        $(this).text(linePrice.toFixed(2));
        recalculateCart();
        $(this).fadeIn(fadeTime);
      });
    });
    }

    if (totals === 0){
          totals = total
          taxs = tax
          shippings = shipping
      }
        $("#btn-coupon").click(function(e){
        e.preventDefault();
        if($("#coupon-code").val() == "XP20"){
          couponCode(.2);
         } else if($("#coupon-code").val() == "Camping10"){
            couponCode(.1);

          } else if($("#coupon-code").val() === "CCPUJO20" || $("#coupon-code").val() === "CC20"){
          couponCode(.2);

          } else if($("#coupon-code").val() == "NOTM25"){
          couponCode(.25);

         } else {
            alert("Invalid code");
         }
  });


  var options = {
    "currency": "INR",
    "name": "Camping co",
    "description": "{{tent.name}}",
    "image": "{% static 'images/favi/apple-icon-72x72.png' %}",
    "handler": function (response){
            var end_point = "{% url 'tent_check:success' %}"
            var end = end_point;//success/faliure
            var t = $("input[name=csrfmiddlewaretoken]").val();
            data = {
              "txnid": response.razorpay_payment_id,
              "csrfmiddlewaretoken": t
            }
            $.ajax({
              data: data,
              url: end,
              method: "POST",
              success: function(data){
                localStorage.clear();
                window.location.href = end;
              },
              error: function(error){
                  console.log(error)
              }
          })
    },
    "prefill": {
    },
    "notes": {
        "address": "note value"
    },
    "theme": {
        "color": "#1ab188"
    }
};
document.getElementById('rzp-button1').onclick = function(e){
    e.preventDefault();
    var paymentForm = $("#payment-form")
    var data = $('form').serialize();
        var paymentMethodEndpoint = "{% url 'tent_check:cart' slug=tent.slug %}"
        var t = $("input[name=csrfmiddlewaretoken]").val();
        var data = {
            "total": totals,
            'csrfmiddlewaretoken': t
        }
        $.ajax({
            data: data,
            url: paymentMethodEndpoint,
            method: "POST",
            success: function(data){
            options.amount = (data.amount) * 100
            options.prefill.email = data.email
            options.prefill.name = data.name
            options.key = data.razor_id
            var rzp1 = new Razorpay(options);
            rzp1.open();
            },
            error: function(error){
                console.log(error)
            }
        })
}
}
</script>
    {% endblock %}