{% extends "snippets/base.html" %} {% load staticfiles %} {% block css %}
<link rel="stylesheet" href="{% static 'css/tent/tent.css' %}">
{% endblock %}
{% block title %}
    <title>Camper Rental Information | Camping Co</title>
{% endblock %}
{% block meta %}
<meta name="description" content="Here at Camping Co, we have several campers available for rental. For more information on each one, click here now!">
<meta name="keywords" content="vehicles at camping company, type of vehicle, Manual transmission, All-terrain tires,Ironman 4x4 roof top, tent,Seats 5,Camping kit BBQ, utensils, mugs & shovel ,All weather sleeping bags ">
{% endblock %}
{% block content_block %}
   <section class="tent">
      <img class="tent__img" src="{% static 'images/tent/tent2.jpg' %}"/>

      <div class="tent__container">
         <h1 class="tent__heading">Thule Tepui  Explorer</h1>
            <p class="tent__description">4-person roof top tent haze grey</p>
            <ul>
               <li>Good ventilation</li>
               <li>Usable year round</li>
               <li>Include extent canopy</li>
            </ul>
            <a href="#" class="tent__read">read more</a>
      </div>
   </section>
{% endblock %}
