{% extends "snippets/base.html" %}
    {% load staticfiles %} {% block css %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.0.1/tailwind.min.css">
        <style>
            html{
                font-size:62.5%;
            }
            body{
                font-size:1.6rem;
            }
        </style>
    {% endblock %}
{% block title %}
    <title>Buy Roof Top Tent at Best Price in India | Available for all types of cars | Camping Co </title>
{% endblock %}
{% block meta %}
<meta name="description" content="Camping Co's roof top tents Roof Top Tents come in universal size & can be installed on roof racks, cross bars on any vehicle type It’s engineered for quick setup. Once in camp, you undo a few straps, pop it open and deploy the poles and ladder. Camping Co's roof top tent fabric and pole materials are extra robust to withstand stormy weather. Comes with a super-plush foam mattress for your comfort">
<meta name="keywords" content="vehicles for camping, vehicles for camping company, camping vehicles northeast, rooftop tent vehicle , rent a vehicle meghalaya, overlanding car thar, modified vehicles northeast, cheapest camping vehicle, guwahati camping vehicle rent">
{% endblock %}
{% block content_block %}
    <div class="max-w-6xl mx-auto">
        <br><br><br>
    <h1 style="display:none;">Buy Rooftop Tent Online</h1>
        <br>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 pt-6 p-6">
                <div class="bg-white shadow-xl rounded-lg overflow-hidden">
                    <div class="bg-cover bg-center h-56 p-4" style="background-image: url({% static 'images/tent/tent1.jpg' %});">
                        <div class="flex justify-end">
                            <svg class="h-6 w-6 text-white fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M12.76 3.76a6 6 0 0 1 8.48 8.48l-8.53 8.54a1 1 0 0 1-1.42 0l-8.53-8.54a6 6 0 0 1 8.48-8.48l.76.75.76-.75zm7.07 7.07a4 4 0 1 0-5.66-5.66l-1.46 1.47a1 1 0 0 1-1.42 0L9.83 5.17a4 4 0 1 0-5.66 5.66L12 18.66l7.83-7.83z"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="p-4">
                        <p class="uppercase tracking-wide text-sm font-bold text-gray-700">Hard Shell Rooftop Tent</p>
                        <p class="text-3xl text-gray-900">INR 65000*</p>
                        <p class="text-gray-700"></p>
                    </div>
                    <div class="px-4 pt-3 pb-4 border-t border-gray-300 bg-gray-100">
                        <div class="flex items-center pt-2">
                            <div>
                                <form style="display:inline-block" action="{% url 'tent:cart' %}" method="POST">{% csrf_token %}
                                    <input hidden name="price" value="65000">
                                    <button id="hard-top" class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Buy</button>
                                </form>
                              <button onclick= "location.href = '{% url 'tent_check:tent_info'%}';" class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">More Info</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 pt-6 p-6">
                <div class="bg-white shadow-xl rounded-lg overflow-hidden">
                    <div class="bg-cover bg-center h-56 p-4" style="background-image: url({% static 'images/tent/tent2.jpg' %});">
                        <div class="flex justify-end">
                            <svg class="h-6 w-6 text-white fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M12.76 3.76a6 6 0 0 1 8.48 8.48l-8.53 8.54a1 1 0 0 1-1.42 0l-8.53-8.54a6 6 0 0 1 8.48-8.48l.76.75.76-.75zm7.07 7.07a4 4 0 1 0-5.66-5.66l-1.46 1.47a1 1 0 0 1-1.42 0L9.83 5.17a4 4 0 1 0-5.66 5.66L12 18.66l7.83-7.83z"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="p-4">
                        <p class="uppercase tracking-wide text-sm font-bold text-gray-700">Soft Top tent</p>
                        <p class="text-3xl text-gray-900">INR 55000*</p>
                        <p class="text-gray-700"></p>
                    </div>
                    <div class="px-4 pt-3 pb-4 border-t border-gray-300 bg-gray-100">
                        <div class="flex items-center pt-2">
                          <div>
                              <form style="display:inline-block" action="{% url 'tent_check:cart' %}" method="POST">{% csrf_token %}
                                  <input hidden name="price" value="55000">
                                  <button id="soft-top" class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Buy</button>
                              </form>
                              <button onclick= "location.href = '{% url 'tent:tent_info'%}';" class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">More Info</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
    {% endblock %}