{% extends "snippets/base.html" %} {% load staticfiles %} {% block css %}
<link rel="stylesheet" href="{% static 'css/tent/tent.css' %}">
{% endblock %}
{% block title %}
    <title>Camper Rental Information | Camping Co</title>
{% endblock %}
{% block meta %}
<meta name="description" content="Here at Camping Co, we have several campers available for rental. For more information on each one, click here now!">
<meta name="keywords" content="vehicles at camping company, type of vehicle, Manual transmission, All-terrain tires,Ironman 4x4 roof top, tent,Seats 5,Camping kit BBQ, utensils, mugs & shovel ,All weather sleeping bags ">
{% endblock %}
{% block content_block %}
   <section class="tent">
      <img class="tent__img" src="{{tent.main_tent_image.url}}"/>

      <div class="tent__container">
         <h1 class="tent__heading">{{tent.name}}</h1>
            <p class="tent__description">{{tent.name_extended}}</p>
            {{tent.summary|safe}}
            <p class="tent__description">Price {{tent.price}} INR</p>
<!--            <a href="#" class="tent__read">read more</a>-->
          <form method="POST" action="{% url 'tent:cart' slug=tent.slug %}">{% csrf_token %}
                <input hidden value="{{tent.price}}" name="price">
                <button style="border: none; background-color:#fff; color: #007bff; cursor: pointer; font-size: 2rem;" class="active">Buy Now</button>
            </form>
      </div>
   </section>

    <section class="more">
         {% for tent_image in tent_images %}
           <div class="more__card">
               <img class="more__card__img" src="{{tent_image.image_url.url}}"/>
           </div>
         {% endfor %}
    </section>

   `<div id="accordion" style="font-size: 1.6rem;">
     <div class="card">
       <div class="card-header" id="headingOne">
         <h5 class="mb-0">
           <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             Product Description
           </button>
         </h5>
       </div>

       <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
         <div class="card-body">
            <p>{{tent.description|safe}}</p>

            <p><span class="active">Color:</span> {{tent.colors}}</p>
         </div>
       </div>
     </div>
     <div class="card">
       <div class="card-header" id="headingTwo">
         <h5 class="mb-0">
           <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
             All features
           </button>
         </h5>
       </div>
       <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
         <div class="card-body">
           {{tent.features|safe}}
         </div>
       </div>
     </div>
     <div class="card">
       <div class="card-header" id="headingThree">
         <h5 class="mb-0">
           <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
             Technical specifications
           </button>
         </h5>
       </div>
       <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
         <div class="card-body">
            <p><span class="active">Sleeping Capacity: </span> {{tent.sleeping_capacity}}</p>
            <p><span class="active">Dimensions Closed:</span> {{tent.dimentions_closed}}</p>
            <p><span class="active">Weight:</span> {{tent.weight}}</p>
            <p><span class="active">Static Weight Capacity:</span> {{tent.static_weight_capacity}}</p>
            <p><span class="active">Minimum Bar Spread:</span> {{tent.minimum_bar_spread}}</p>
            <p><span class="active">Base Construction:</span> {{tent.base_construction}}</p>
            <p><span class="active">Canopy Fabric:</span> {{tent.canopy_fabric}}</p>
            <p><span class="active">Internal Frame:</span> {{tent.internal_frame}}</p>
            <p><span class="active">Mosquito Screen: </span>{{tent.mosquito_screens}}</p>
            <p><span class="active">Seaons:</span> {{tent.seasons}}</p>
         </div>
       </div>
     </div>
    <div class="card">
       <div class="card-header" id="headingFour">
         <h5 class="mb-0">
           <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
             Refund Policy
           </button>
         </h5>
       </div>
       <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
         <div class="card-body">
            <p>
                Refunds will only be issued for unused and un-mounted products.
                If a product is used, damaged or is not re-sellable, no refund will be issued.
                Products must be returned within 10 days to receive a refund.
                Whether or not a product meets refund requirements is at Camping Co's discretion.
                Return shipping must be paid for by the customer
                Exchanges
                For product exchanges, Camping Co will send a return label.
                Camping Co. will either charge or refund the price difference for new product exchanges.
            </p>
         </div>
       </div>
     </div>
   </div>`
{% endblock %}
