{% extends "snippets/base.html" %}
{% load staticfiles %}

    {% block meta %}
    <meta name="description" content="{{ blog.description }}">
    {% endblock %}

    {% block title %}
    <title>{{ blog.heading }}</title>
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="{% static 'css/blog/blog_detail.css' %}">
        <link rel="canonical" href="https://www.camping-co.com">
    {% if blog.heading == 'Go there, do that!' or blog.heading == 'The Orange festival' %}
    <style>
        body{
            text-align: center;
        }
    </style>
    {% endif %}
    {% endblock %}

    {% block content_block %}
        <img class="image" src="{{blog.blog_cover_images.url}}">
    <h1 style="visibility:hidden;">{{ blog.heading }}</h1>
        <div class="container mr-auto">
          {% for y in image %}
            <h4 class="">{{y.heading|safe}}</h4>
            <p>{{y.content|safe}}</p>
            {% if not y.blog_image1.url.isempty %}
                <img class="fix" src="{{y.blog_image1.url}}">
            {% else %}
            {% endif %}
            {% if not y.blog_image2.url.isempty %}
            <br>
            <br>
            <br>
            <br>
                <img class="fix" src="{{y.blog_image2.url}}">
            <br>
            <br>
            <br>
            <br>
            {% else %}
              {% endif %}
          {% endfor %}
            </div>
    <br>
    {% endblock %}