{% extends "snippets/base.html" %}
{% load staticfiles %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/blog/event.css' %}">
    {% endblock %}

    {% block title %}
    <title>Event</title>
    {% endblock %}

    {% block meta %}
    <meta name="description" content="Read the stories from our adventurous guests’ overland and camping expeditions in Northeast India. Meeting new people, seeing different cultures, trying new food and adventure sports, magnificent road trips etc are some of the elements that make our blogs unique and a comfortable read.">
    <meta name="keywords" content="camping, camping company, camping co, meghalaya tourism, unique experience in northeast, travel through nature, laitlum grand canyons meghalaya, christmas in meghalaya , overlanding trip to ziro">
    {% endblock %}

    {% block content_block %}
        <div class="center_know">
            <img style="cursor: pointer" class="img-fluid img-fluid__1" data-toggle="modal" data-target="#exampleModal" src="{% static 'images/event/PICNIC_20200731_155137626.jpg' %}" alt="">
            <button data-toggle="modal" class="btn btn-camping know" data-target="#exampleModal">Show more</button>
        </div>
        <div style="z-index:11111111111;" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-full" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Explore</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    <img class="img-fluid img-fluid__1" data-toggle="modal" src="{% static 'images/event/PICNIC_20200731_155347840.jpg' %}" alt="">
                    <div class="row">
                        <div class="col-6">
                    <img class="img-fluid img-fluid__1" data-toggle="modal" src="{% static 'images/event/PICNIC_20200731_155434189.jpg' %}" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid img-fluid__1" data-toggle="modal" src="{% static 'images/event/PICNIC_20200731_155641717.jpg' %}" alt="">
                        </div>
                    </div>
                    <img class="img-fluid img-fluid__1" data-toggle="modal" src="{% static 'images/event/PICNIC_20200731_155137626.jpg' %}" alt="">
                    <div class="row">
                        <div class="col-6">
                            <img class="img-fluid img-fluid__1" data-toggle="modal" src="{% static 'images/event/PICNIC_20200731_160024979.jpg' %}" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid img-fluid__1" data-toggle="modal" src="{% static 'images/event/PICNIC_20200731_155838523.jpg' %}" alt="">
                        </div>
                    </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
            <h2>Digital Nomad Expedition</h2>
            <br>
        <p>Camping Co’s co-working/co-living space is located inside a beautiful Tea Estate of Assam. At the center of this 2,600 Acre Tea estate is the campsite and a Colonial Bungalow surrounded by miles of Tea plantations offering a collaborative and relaxing coworking environment. The experience offers a rare combination of camping, co-working and co-living. The space is equipped with everything required for a comfortable retreat with nature. You will find yourself in a community of like-minded individuals, exchanging skills and knowledge in the pursuit of better quality of life through work-life balance.</p>
        <h5>Stay</h5>
        <ul>
            <li>Total 8 to 10 Dome Tents, all on ground, all single occupancy (two on the rooftop at extra cost).</li>
            <li>Sleeping bags and sleeping mats</li>
            <li>At the time of the camp being shifted, packing and unpacking of sleeping bags will be the individual's own responsibility for hygiene and to save time. </li>
            <li>Mandatory registration on Aarogya Setu App</li>
        </ul>

            <h5>Program Details</h5>
            <p>The entire program is of 28 days. There are two legs of this excursion - 14 Days in Assam and next 14 days in Meghalaya. Depending on the leg you choose an expedition outline will be given which will involve the activities planned at that destination.You will visit the best locations of Assam and Meghalaya during the journey showcasing the countryside of Northeast India, the circuit has been designed to keep your comfort and adventure needs in mind.</p>
            <p>Base Camp in Assam - Sapoi Tea Estate</p>
            <p>Base Camp in Meghalaya - Camping Co. Nongkhnum Island</p>

        <h5>Expedition Inclusions:</h5>
        <ul>
            <li>All meals at the site including a mix of cooking off-the-grid</li>
            <li>We will provide you with our overlanding vehicles for a round trip starting and ending in Guwahati</li>
            <li>Tents, Sleeping bags, and camping gears</li>
            <li>Nature Activities such as kayaking, mountain climbing, trekking, cliff diving, bonfire building, setting up camps, river excursion, yoga etc</li>
            <li>Knowledge expeditions such as tea plantation overview, working of cooperative societies, in-house story sessions, nature conservation, rural governance, introduction to tribal culture etc.</li>
            <li>Fuel & toll taxes</li>
            <li>All Inner line permit for restricted areas</li>
            <li>Local guides, assistance</li>
            <li>Campsite charges</li>
            <li>Airport transfers</li>
            <li>Day excursions to places such as Kaziranga National Park, Nameri in Assam and Cherrapunji, Shillong in Meghalaya depending on the program outline of the particular state.</li>
        </ul>


        <h5>Expedition Exclusions:</h5>

        <ul>
            <li>Flight to the destination</li>
            <li>Meals apart from the mentioned ones or at a restaurant</li>
            <li>Drinks and other snacks</li>
            <li>Any activity apart from the mentioned ones</li>
            <li>Any cost arising out of unforeseen circumstances like ill-health, car breakdown or repairs, damage accruing from land blocks, bad weather etc.</li>
            <li>Any Medical expenses incurred during the trip or travel insurance</li>
            <li>Any charges for carrying a video camera or still camera.</li>
        </ul>

        <h5>Trip Details</h5>
            <p class="green">Check-in: <span class="white">1st Oct'20; 15th Oct’20</span></p>
            <p class="green">Check out: <span class="white">14th Oct'20, 29th Oct’20</span></p>
            <p class="green">Venue: <span class="white">Airport</span></p>
            <p class="green">Vehicle Type: <span class="white">SUVs and Jeep</span></p>
            <h5>Cost:</h5>
            <p class="green">Total trip cost</p>
            <p>Rs.59000 per person - 14 days (Rooftop tent)</p>
            <p>Rs.49000 per person - 14 days (Dome tent)</p>
            <p>Rs.99000 per person - 28 days (Rooftop tent)</p>
            <p>Rs.89000 per person - 28 days (Dome tent)</p>
        <br>
        <h5>Enhanced Clean</h5>
            <p>Camping Co. is committed to a rigorous cleaning protocol developed with leading health and hospitality experts.</p>
            <a style="cursor: pointer; text-decoration:underline;" data-toggle="modal" data-target="#enhamcedModal">
                Learn more
            </a><br><br><br>
            <div style="z-index:11111111111;" class="modal fade" id="enhamcedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-full" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="enhancedModalLabel">Enhanced Clean</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <p>Camping Co. has committed to enhanced cleaning protocol – a rigorous set of cleaning standards developed by Camping Co. with leading health and hospitality experts for the times of COVID-19 and beyond.</p>
                      <p>Here’s what Camping has made a commitment to do before every stay:</p>
                      <ul>
                          <li>
                              <h6>Sanitise surfaces</h6>
                              Sanitise every high-touch surface, down to the doorknob
                          </li>
                          <li>
                              <h6>Use approved products</h6>
                              Use cleaners approved by health experts, such as disinfectants with 70% alcohol or higher
                          </li>
                          <li>
                              <h6>Thoroughly clean</h6>
                              Sanitise every high-touch surface, down to the doorknob
                          </li>
                          <li>
                              <h6>Sanitise surfaces</h6>
                              Clean room by room following our extensive cleaning checklists
                          </li>
                          <li>
                              <h6>Wear a mask and gloves</h6>
                              Help avoid cross-contamination by wearing a mask and gloves
                          </li>
                          <li>
                              <h6>Wash all linen</h6>
                              Wash linen at a high heat setting
                          </li>

                          <li>
                              <h6>Follow all other local guidance</h6>
                              Comply with local laws, including any additional safety or cleaning guidelines
                          </li>

                      </ul>
<!--                      <a style="cursor: pointer; text-decoration:underline;">Learn more about the cleaning protocol</a>-->
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div style="z-index:11111111111;" class="modal fade" id="payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-full" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="paymentModalLabel">Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form action="POST">{%csrf_token%}
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-6">
                        <div class="form-group">
                        <input class="form__input" type="text" name="tripDay" class="form-control date" id="datetimepicker" placeholder="DD/MM/YYYY" required>
                        </div>
                        </div>
                        <div class="col-6">
                        <div class="form-group">
                        <input class="form__input" type="text" list="Duration" name="Duration" class="form-control" id="list" placeholder="Days" required>
                        <datalist id="Duration">
                        <option value="14">
                        <option value="28">
                        </datalist>
                        </div>
                        </div>
                     </div>
                        <hr>
                      <div class="row tableHeading">
                        <div class="col-4">
                          <strong>Item</strong>
                        </div>

                        <div class="col-4">
                          <strong>Price</strong>
                        </div>
                          <div class="col-4">
                          <strong>Person</strong>
                        </div>
                      </div>
                        <br><br>
                      <div class="row">
                        <div class="col-4">
                            <img src="{% static 'images/destination-detail/camper.svg' %}"><span>Rooftop Tent</span>
                        </div>

                        <div class="col-4">
                            <p class="roof_price">INR 0</p>
                        </div>
                          <div class="col-4">
                          <input class="person" id="person_roof" type="number" value="0" min="0">
                        </div>
                      </div>
                        <br><br>
                      <div class="row">
                        <div class="col-4">
                            <img src="{% static 'images/destination-detail/tent.svg' %}"><span>Dome Tent</span>
                        </div>

                        <div class="col-4">
                           <p class="dome_price">INR 0</p>
                        </div>
                          <div class="col-4">
                          <input class="person" id="person_dome" type="number" value="0" min="0">
                        </div>
                      </div>

                      </div>
                    <div class="modal-footer" >
                      <span  id="total" style="font-size: 24px;">Total INR 0</span>
                      <button type="button" id="rzp-button1" class="btn btn-camping book">Checkout</button>
                    </div>
                    </form>
              </div>
            </div>
          </div>
        </div>
       <footer class="footer">
        <div class="row">
        <div class="col-sm-4">
        <div>
        <img src="{% static 'images/main_v2/logo-400x400.webp' %}" class="header__logo">
        <br><br><br>
        <span class="footer-text__description">Nature has a subtle way of enhancing consciousness,
        mindfulness, and awareness. With this belief, The
        Camping Company was created to provide a platform
        to have an immersive experience with nature. It enables
        travelers to explore the unexplored with the help of
        SUVs, jeeps equipped with rooftop tents and camping
        gears for a comfortable overlanding expedition. We are
        the creators and believers of an alternate way of travel.</span>
        <hr>
        <br><br>
        <span class="footer-text__follow">Follow Us:
        <a href="https://www.facebook.com/thecampingco"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/camping_co"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UC6mvUrWd2m4KbokMSALM0Hw"><i class="fab fa-youtube"></i></a>
        </span>
        <br><br><br>
        <hr>
        </div>
        </div>
        <div class="col-sm-4">
        <div>
        <strong><span class="footer-text__heading">Contact Us</span></strong>
        <br><br>
        <span class="footer-text__description">Talk to our experts? +91-6913332761 or Drop us a line, We promise to get back to you in 24 hours.</span>
        <form class="footer__form" method="POST" action="{% url 'app:findus' %}">{% csrf_token %}
        <br>
        <input type="text" placeholder="name" name="name" class="footer-text__input">
        <input type="email" placeholder="email" name="email" class="footer-text__input">
        <input type="text" placeholder="phone" name="phone" class="footer-text__input">
        <input type="text" placeholder="city" name="city" class="footer-text__input">
        <textarea class="footer-text__area" name="message" id="" cols="40" rows="10" placeholder="Enter Your Message Here..."></textarea>
        <div class="footer-button-box">
        <br>
        <button class="footer-button-box__button">Submit</button>

        <div style="width:300px;" class="g-recaptcha" data-sitekey="6Lf07dAUAAAAAGYJvqrlu78u_cpgvIBijE0OUHfr"></div>
        </div>
        </form>
        <span>@2019 Camping co</span>
        </div>
        </div>
        <div class="col-sm-4">
        <div class="tertiary-text__box">
        <a href="#" class="footer-text__heading">Careers</a>
        <a href="{% url 'app:terms_condition' %}" class="footer-text__heading">Policy</a>
        <a href="#" class="footer-text__heading">Media</a>
        <a href="{% url 'app:faq' %}" class="footer-text__heading">FAQ</a>
        <a class="footer-text__heading" href="{% url 'blog:event' %}">Event</a>
        </div>
        </div>
        </div>
        </footer>
        <div class="bottom">
            <button style="margin-left: 80%; padding: 10px 20px;" type="button" class="btn btn-camping price" data-toggle="modal" data-target="#payment">
               Book
            </button>
        </div>
    <script defer src="{% static 'js/razorpay.js' %}"></script>
    <script>
    window.onload = function() {
        $("#datetimepicker").datetimepicker({
         timepicker:false,
         format:'Y-m-d',
         minDate:0,
         });
         document.querySelector(".xdsoft_datetimepicker").style.zIndex=111111111111;
         var temp1=0,temp2=0,price1=59000,price2=49000,price3=99000,price4=89000;
         $("#list").change(function(){
            var x = parseInt($("#list").val());
            $("#person_roof").val(1);
            $("#person_dome").val(1);
            if(x==14){
                $(".roof_price").text("INR "+price1)
                $(".dome_price").text("INR "+price2)
                var t = price1+price2
                temp1=price1;temp2=price2
                $("#total").text("Total INR "+t)

            }else if(x==28){
                $(".roof_price").text("INR "+price3)
                $(".dome_price").text("INR "+price4)
                var t = price3+price4
                temp1=price3;temp2=price4;
                $("#total").text("Total INR "+t)
            }else {
            alert("invalid input please select 14 or 28")
                $(".roof_price").text("INR 0")
                $(".dome_price").text("INR 0")

            }
         })

         $("#person_roof").change(function(){
            var x = parseInt($("#person_roof").val());
            if($("#list").val()!=""){
                if(x<0)alert("put valid number of people")
                else{
                if($("#list").val()==14)
                    temp1 = price1*x;
                else
                    temp1 = price3*x;
                $(".roof_price").text("INR "+temp1)
                var t = temp1+temp2
                $("#total").text("Total INR "+t)
                }
            }else {
                alert("Please select days first")
                $("#person_roof").val(0);

            }
         })

         $("#person_dome").change(function(){
            var x = parseInt($("#person_dome").val());
            if($("#list").val()!=""){
                if(x<0)alert("give valid number of people")
                else{
                if($("#list").val()==14){
                        temp2 = price2*x;
                    }
                else{
                        temp2 = price4*x;
                    }
                $(".dome_price").text("INR "+temp2)
                var t = temp1+temp2
                $("#total").text("Total INR "+t)
                }
            }else {
                alert("Please select days first")
                $("#person_dome").val(0);
            }
         })

           var options = {
            "currency": "INR",
            "name": "Camping co",
            "description": "Overlanding expedition booked",
            "image": "{% static 'images/favi/apple-icon-72x72.png' %}",
            "handler": function (response){
                    var end_point = "{% url 'blog:success' %}"
                    var end = end_point;//success/faliure
                    var t = $("input[name=csrfmiddlewaretoken]").val();
                    data = {
                      "txnid": response.razorpay_payment_id,
                      "csrfmiddlewaretoken": t
                    }
                    $.ajax({
                      data: data,
                      url: end,
                      method: "POST",
                      success: function(data){
                        localStorage.clear();
                        window.location.href = end;
                      },
                      error: function(error){
                          console.log(error)
                      }
                  })
            },
            "prefill": {
            },
            "notes": {
                "address": "note value"
            },
            "theme": {
                "color": "#1ab188"
            }
        };
        document.getElementById('rzp-button1').onclick = function(e){
            e.preventDefault();
            if($("input[name=tripDay]").val()==""){alert("PLEASE PUT DATE ALSO");}
            else {
            document.querySelector(".razorpay-container").style.zIndex=111111111111;
            var paymentForm = $("#payment-form")
            var data = $('form').serialize();
                var paymentMethodEndpoint = "{% url 'blog:pay' %}"
                var t = $("input[name=csrfmiddlewaretoken]").val();
                var data = {
                    "total": temp1+temp2,
                    "duration": $("#list").val(),
                    "check_in": $("input[name=tripDay]").val(),
                    "person_dome": parseInt($("#person_dome").val()),
                    "person_roof": parseInt($("#person_roof").val()),
                    'csrfmiddlewaretoken': t
                }
                $.ajax({
                data: data,
                url: paymentMethodEndpoint,
                method: "POST",
                success: function(data) {
                  if (data.signed == "false") {
                    alert("Please sign in first")
                    window.location.href = "https://www.camping-co.com/accounts/login/"
                  } else if (data.customer == "false") {
                    alert("Complete sign up")
                    window.location.href = "https://www.camping-co.com/accounts/welcome/"
                  } else {
                    options.amount = (data.amount) * 100
                    options.prefill.email = data.email
                    options.prefill.name = data.name
                    options.key = data.razor_id
                    var rzp1 = new Razorpay(options);
                    rzp1.open();
                }
                  },
                  error: function(error) {
                    console.log(error)
                  }
                })
        }
    }


    }

    </script>
{% endblock %}