{% extends "snippets/base.html" %}
{% load staticfiles %}

{% block content_block %}
<br><br>
<form method="POST" enctype="multipart/form-data">{% csrf_token %}

    <div class="container my-5">
        <p>Vehicle Photo</p>

        <div class="form-group">
            <label for="exampleFormControlFile1">Front image</label>
            <input name="front" type="file" class="form-control-file" id="exampleFormControlFile1" required>
        </div>

        <div class="form-group">
            <label for="exampleFormControlFile2">Back image</label>
            <input name="back" type="file" class="form-control-file" id="exampleFormControlFile2" required>
        </div>

        <div class="form-group">
            <label for="exampleFormControlFile3">Side 1</label>
            <input name="side1" type="file" class="form-control-file" id="exampleFormControlFile3" required>
        </div>

        <div class="form-group">
            <label for="exampleFormControlFile4">Side 2</label>
            <input name="side2" type="file" class="form-control-file" id="exampleFormControlFile4" required>
        </div>

        <p>Cleanliness</p>

        <div class="form-group">
            <label for="exampleFormControlFile5">Inside Tent</label>
            <input name="inside_tent" type="file" class="form-control-file" id="exampleFormControlFile5" required>
        </div>

        <div class="form-group">
            <label for="exampleFormControlFile6">Inside car</label>
            <input name="inside_car" type="file" class="form-control-file" id="exampleFormControlFile6" required>
        </div>

        <div class="form-group">
            <label for="exampleFormControlFile7">Outside car</label>
            <input name="outside_car" type="file" class="form-control-file" id="exampleFormControlFile7" required>
        </div>

        <p>Photo id</p>

        <div class="form-group">
            <label for="exampleFormControlFile8">Id 1</label>
            <input name="id1" type="file" class="form-control-file" id="exampleFormControlFile8" required>
        </div>

        <div class="form-group">
            <label for="exampleFormControlFile9">Id 2</label>
            <input name="id2" type="file" class="form-control-file" id="exampleFormControlFile9" required>
        </div>

        <div class="form-group">
            <label for="exampleFormControlFile10">Id 3</label>
            <input name="id3" type="file" class="form-control-file" id="exampleFormControlFile10" required>
        </div>

        <div class="form-group">
            <label for="exampleFormControlFile11">Id 4</label>
            <input name="id4" type="file" class="form-control-file" id="exampleFormControlFile11" required>
        </div>


        <div class="form-group">
            <label for="exampleFormControlFile12">Id 5</label>
            <input name="id5" type="file" class="form-control-file" id="exampleFormControlFile12" required>
        </div>

        <button class="btn btn-secondary">Submit</button>
    </div>
</form>
<script>
window.onload = function(){
    $('.form-control-file').bind('change', function() {
        if(Math.ceil(this.files[0].size/1000) > 200){
            alert("File size should be less than 200 Kb");
            $(this).val('');
        }
});
}
</script>
{% endblock %}
