<!DOCTYPE html>
<html lang=en>
   {% load static %}
   <head>

      {% block title %} {% endblock %} {% block meta %} {% endblock %}
      <meta charset="UTF-8">
      <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link rel=apple-touch-icon sizes=57x57 href="{% static 'images/favi/apple-icon-57x57.png' %}">
      <link rel=apple-touch-icon sizes=60x60 href="{% static 'images/favi/apple-icon-60x60.png' %}">
      <link rel=apple-touch-icon sizes=72x72 href="{% static 'images/favi/apple-icon-72x72.png' %}">
      <link rel=apple-touch-icon sizes=76x76 href="{% static 'images/favi/apple-icon-76x76.png' %}">
      <link rel=apple-touch-icon sizes=114x114 href="{% static 'images/favi/apple-icon-114x114.png' %}">
      <link rel=apple-touch-icon sizes=120x120 href="{% static 'images/favi/apple-icon-120x120.png' %}">
      <link rel=apple-touch-icon sizes=144x144 href="{% static 'images/favi/apple-icon-144x144.png' %}">
      <link rel=apple-touch-icon sizes=152x152 href="{% static 'images/favi/apple-icon-152x152.png' %}">
      <link rel=apple-touch-icon sizes=180x180 href="{% static 'images/favi/apple-icon-180x180.png' %}">
      <link rel=icon type=image/png sizes=192x192 href="{% static 'images/favi/android-icon-192x192.png' %}">
      <link rel=icon type=image/png sizes=32x32 href="{% static 'images/favi/favicon-32x32.png' %}">
      <link rel=icon type=image/png sizes=96x96 href="{% static 'images/favi/favicon-96x96.png' %}">
      <link rel=icon type=image/png sizes=16x16 href="{% static 'images/favi/favicon-16x16.png' %}">
      <link rel=manifest href="{% static 'images/favi/manifest.json' %}">
      <meta name=msapplication-TileColor content=#ffffff>
      <meta name=msapplication-TileImage content="{% static 'images/favi/ms-icon-144x144.png' %}">
      <meta name=theme-color content=#0EAC8D>
      {% include "snippets/css.html" %}
      {% block css %}

      {% endblock %}
       <!-- Global site tag (gtag.js) - Google Analytics -->
        <script defer src="https://www.googletagmanager.com/gtag/js?id=UA-149837617-2"></script>
        <script defer>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-149837617-2');
        </script>

       <!-- Global site tag (gtag.js) - Google Ads: 479010803 -->
        <script defer src="https://www.googletagmanager.com/gtag/js?id=AW-479010803"></script>
        <script defer>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'AW-479010803');
        </script>

        <script defer type="text/javascript">
          window.addEventListener('load',function(){
           jQuery('[action="/vehicles/"]').submit(function() {
            gtag('event', 'conversion', {'send_to': 'AW-479010803/x58gCNS43PYCEPO_tOQB'});
           });
          });
        </script>
        <script defer>
          window.addEventListener('load',function(){
            jQuery('body').on('click', 'a:contains(Book now)', function() {
              gtag('event', 'conversion', {
                'send_to': 'AW-479010803/7-BiCIDX1PcCEPO_tOQB'
              });
            })
            jQuery('[action="/accounts/signup/"]').submit(function(){
              gtag('event', 'conversion', {'send_to': 'AW-479010803/UKsGCM_7vvkCEPO_tOQB'});
            })
          })
        </script>

        <!-- Meta Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1773697539589707');
            fbq('track', 'PageView');
        </script>
        <noscript>
            <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1773697539589707&ev=PageView&noscript=1"/>
        </noscript>
        <!-- End Meta Pixel Code -->
       
   </head>
      <body>
            {% include "snippets/navbar.html" %}
            {% if messages %} {% for message in messages %}
               <div class="alert alert-{{message.tags}}" style="text-align: center;"> <strong>{{message}}</strong></div>
            {% endfor %} {% endif %}

            {% block content_block %}

            {% endblock %}

            {% include "snippets/footer.html" %}

            {% include "snippets/js.html" %}

            {% block js %}

            {% endblock %}
      </body>
</html>
