{% load staticfiles %}
<link rel="preload" href="{% static 'css/bootstrap.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"></noscript>

<link rel="preload" href="{% static 'css/monster.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{% static 'css/monster.css' %}"></noscript>

<link rel="preload" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="styles.css"></noscript>

<link rel="preload" href="{% static 'css/table.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{% static 'css/table.css' %}"></noscript>

<link rel="preload" href="{% static 'css/calender/jquery.datetimepicker.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{% static 'css/calender/jquery.datetimepicker.css' %}"></noscript>