{% load staticfiles %}
<link rel="stylesheet"  href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<link rel="stylesheet"  href="{% static 'css/calender/jquery.datetimepicker.css' %}">