{% load staticfiles %}
<link rel="preload" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{% static 'css/calender/jquery.datetimepicker.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{% static 'css/table.css' %}">
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">