{% load static%}
<link rel="stylesheet" href="{% static 'css/home/footer.css' %}">
<footer class="footer">
<div class="row">
<div class="col-sm-4">
<div>
<img width="80" height="80" src="{% static 'images/main_v2/logo-400x400.webp' %}" class="header__logo">
<br><br><br>
<span class="footer-text__description">Nature has a subtle way of enhancing consciousness,
mindfulness, and awareness. With this belief, The
Camping Company was created to provide a platform
to have an immersive experience with nature. It enables
travelers to explore the unexplored with the help of
SUVs, jeeps equipped with rooftop tents and camping
gears for a comfortable overlanding expedition. We are
the creators and believers of an alternate way of travel.</span>
<hr>
<br><br>
<span class="footer-text__follow">Follow Us:
<a href="https://www.facebook.com/thecampingco"><i class="fab fa-facebook-f"></i></a>
<a href="https://www.instagram.com/camping_co"><i class="fab fa-instagram"></i></a>
<a href="https://www.youtube.com/channel/UC6mvUrWd2m4KbokMSALM0Hw"><i class="fab fa-youtube"></i></a>
</span>
<br><br><br>
<hr>
</div>
</div>
<div class="col-sm-4">
<div>
<strong><span class="footer-text__heading">Contact Us</span></strong>
<br><br>
<span class="footer-text__description">Talk to our experts? +91-6913332761 or Drop us a line, We promise to get back to
    you in 24 hours. or email us at info@camping-co.com</span>
<form class="footer__form" method="POST" action="{% url 'app:findus' %}">{% csrf_token %}
<br>
<input type="text" placeholder="name" name="name" class="footer-text__input">
<input type="email" placeholder="email" name="email" class="footer-text__input">
<input type="tel" placeholder="phone" name="phone" class="footer-text__input" required maxlength="10" minlength="10">
<input type="text" placeholder="city" name="city" class="footer-text__input">
<textarea class="footer-text__area" name="message" id="" cols="30" rows="10" placeholder="Enter Your Message Here..."></textarea>
<div class="footer-button-box">
<br>
<button class="footer-button-box__button">Submit</button>
<div style="width:300px;" id="html_element"></div>
</div>
</form>
<span>@2019 Camping co</span>
</div>
</div>
<div class="col-sm-4">
<div class="tertiary-text__box">
<a href="#" class="footer-text__heading">Careers</a>
<a href="{% url 'app:terms_condition' %}" class="footer-text__heading">Policy</a>
<a href="#" class="footer-text__heading">Media</a>
<a href="{% url 'app:faq' %}" class="footer-text__heading">FAQ</a>
<a class="footer-text__heading" href="{% url 'blog:event' %}">Event</a>
</div>
</div>
</div>
</footer>