{% load staticfiles %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script defer src="{% static 'js/popper.js' %}"></script>
    <script defer src="{% static 'js/bootstrap.js' %}"></script>
    <script defer src="{% static 'js/easing.js' %}"></script>
    <script defer src="{% static 'js/vehicles.js' %}"></script>
    <script defer src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
    <script defer src="{% static 'js/bootable.js' %}"></script>
    <script defer src="{% static 'js/lozad.js' %}"></script>
    <script defer src="{% static 'js/analytics.js' %}"></script>
    <!-- need to make them seperate file-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
