{% extends "snippets/base.html" %}
{% load staticfiles %}

{% block css %}
    <style>
        .image{
            width: 300px;
            height: 300px;
        }
    </style>

{% endblock %}

{% block content_block %}
<br><br>
<div class="container my-5">
    <table class="table table-striped table-bordered equipment" style="width:100%">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Email Address</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Joined</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{ book.user.username }}</td>
                    <td>{{ book.user.email }}</td>
                    <td>{{ book.user.first_name }}</td>
                    <td>{{ book.user.last_name }}</td>
                    <td>{{ book.user.date_joined }}</td>
                </tr>
        </tbody>

    </table>

    <p>Car Images</p>
    <div class="row">
        <div class="col-4">
            <img class="image" src="{{vehicle.front.url}}" alt="">
        </div>

        <div class="col-4">
            <img class="image" src="{{vehicle.back.url}}" alt="">
        </div>

        <div class="col-4">
            <img class="image" src="{{vehicle.side1.url}}" alt="">
        </div>


        <div class="col-4">
            <img class="image" src="{{vehicle.side2.url}}" alt="">
        </div>
    </div>
    <hr>

    <p>Cleanliness</p>
    <div class="row">
        <div class="col-4">
            <img class="image" src="{{clean.inside_tent.url}}" alt="">
        </div>

        <div class="col-4">
            <img class="image" src="{{clean.inside_car.url}}" alt="">
        </div>

        <div class="col-4">
            <img class="image" src="{{clean.outside_car.url}}" alt="">
        </div>
    </div>

<hr>
    <p>Photo id</p>
    <div class="row">
        <div class="col-4">
            <img class="image" src="{{ids.id1.url}}" alt="">
        </div>

        <div class="col-4">
            <img class="image" src="{{ids.id2.url}}" alt="">
        </div>

        <div class="col-4">
            <img class="image" src="{{ids.id3.url}}" alt="">
        </div>


        <div class="col-4">
            <img class="image" src="{{ids.id4.url}}" alt="">
        </div>
        <div class="col-4">
            <img class="image" src="{{ids.id5.url}}" alt="">
        </div>
    </div>
</div>
{% endblock %}
