{% extends "snippets/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home/findus.css' %}">
{% endblock %}
{% block title %}
<title>Book a self drive caravan for your next holiday</title>
{% endblock %}
{% block meta %}
<meta name="description" content="Talk to our experts? Sign up or call us on +91-6913332761 to get started with your overlanding journey in North East India. Book cars with a roof top tent for your next adventure.">
<meta name="keywords" content="camping, camping company, camping co , notheast trip, meghalaya trip,contact camping company, contact camping co, phone number camping co, how to reach camping company, book car northeast, how to book a car in northeast">
{% endblock %}
{% block content_block %}
<div class="con">
   <form id="contact" action="{% url 'app:findus' %}" method="post">
      {% csrf_token %}
      <h1>Contact Us</h1>
      <h4>Talk to our experts? +91-6913332761 or Drop us a line, We promise to get back to you in 24 hours.</h4>
      <fieldset>
         <input placeholder="Your name" type="text" tabindex="1" name="name" required autofocus>
      </fieldset>
      <fieldset>
         <input placeholder="Your Email Address" type="email" name="email" tabindex="2" required>
      </fieldset>
      <fieldset>
         <input placeholder="Your Phone Number" type="tel" name="phone" tabindex="3" required maxlength="10" minlength="10">
      </fieldset>
      <fieldset>
         <input placeholder="City" type="text" tabindex="4" name="city" required>
      </fieldset>
      <fieldset>
         <textarea placeholder="Type your Message Here...." name="message" tabindex="5" required></textarea>
      </fieldset>
      <fieldset>
         <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
      <fieldset id="html_element"></fieldset>
   </form>
</div>
{% endblock %}

{% block js %}
   <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
</script>
<script type="text/javascript">
      var onloadCallback = function() {
        grecaptcha.render('html_element', {
          'sitekey' : '{{g}}'
        });
      };
    </script>
{% endblock %}