{% extends "snippets/base.html" %}
{% load staticfiles %}
    {% block css %}<link rel="stylesheet" href="{% static 'css/home/circuits.css' %}">{% endblock %}

{% block title %}
    <title>Destination Circuits in India and Bhutan | Camping Co</title>
{% endblock %}
    {% block content_block %}
{% block meta %}
<meta name="description" content="Our travel structure is designed to share this growing platform with rural communities that maintain these pristine indigenous lands for remarkable experiences.">
<meta name="keywords" content="camping company, personalised itinerary, update,create,delete, itineraries">
{% endblock %}
 <body>
    <header class="heador">

      <div class="heador__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary__main">Overland circuits</span>
            <span class="heading-primary__sub"></span>
        </h1>
      </div>
    </header>

    <section class="section-features container">
      <div class="heading-secondary">
        <div class="heading-secondary__text">
            Camping Co. is aligning the world of responsible and rural tourism with adventure and exploration in Northeast India and Bhutan. Our travel structure is designed to share this growing platform with rural communities that maintain these pristine indigenous lands for remarkable experiences. The automotive machines are engineering marvels that help us connect with nature via exploration.
            The only trace we leave behind are tyre marks.
          </div>
      </div>
      <div class="wrapper">
            <div class="">
            <div class="image image--1">
                <a href="{% url 'destination:circuit' slug='meghalaya' %}"><p>Inhabited by Khasi, Jaintia and Garo tribes, the state in Northeast India is known for its immaculate natural beauty and unique culture. One of the only states in India with a matrilineal society, the state offers unbounded landscapes, exiting and variable weather, well-maintained roads and eccentric culinary wonders.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></a>
                <a href="{% url 'destination:circuit' slug='meghalaya' %}"><p>Inhabited by Khasi, Jaintia and Garo tribes, the state in Northeast India is known for its immaculate natural beauty and unique culture. One of the only states in India with a matrilineal society, the state offers unbounded landscapes, exiting and variable weather, well-maintained roads and eccentric culinary wonders.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></a>
            </div>
            <h2 class="heading-tertiary">
                <span class="heading-tertiary__heading">Nagaland:</span>
            <span class="heading-tertiary__text">Back to forgotten wonders</span>
            </h2>
        </div>
        <div class="">
            <div class="image image--2">
                <a href="{% url 'destination:circuit' slug='nagaland' %}"><p>Home to the largest riverine island in the world, Majuli, Assam is one of the more refined parts of the region. Kaziranga and Manas Wildlife Sanctuaries are an absolute bliss with the wildlife they help preserve and flourish. The Brahmaputra river is a driving force in the region for the changes it makes in the state every monsoon. And of course, there's all the tea in the world and the best of it..</p></a>
            </div>
            <h2 class="heading-tertiary">
                <span class="heading-tertiary__heading">Nagaland:</span>
            <span class="heading-tertiary__text">Back to forgotten wonders</span>
            </h2>
        </div>

        <div class="">
            <div class="image image--3">
                <a href="{% url 'destination:circuit' slug='arunachal-pradesh' %}"><p>Land of the rising sun in India, Arunachal Pradesh is the largest of the Northeastern states. With 82% of its land covered by forests, the state has some of the most exotic landscapes, sub-tropical to alpine forests, paired with isolated and distinct species of flora and fauna specific to this region. It is 1 of the world's 17 bio-diversity heritage sites in the world and truly lives up to it.</p></a>
            </div>
            <h2 class="heading-tertiary">
                <span class="heading-tertiary__heading">Arunachal pradesh:</span>
                <span class="heading-tertiary__text">Nature re-defined</span>
            </h2>
        </div>
      </div>

      <div class="wrapper">
          <div class="">
              <div class="image image--4">
                  <a href="{% url 'destination:circuit' slug='assam' %}"><p>Home to the largest riverine island in the world, Majuli, Assam is one of the more refined parts of the region. Kaziranga and Manas Wildlife Sanctuaries are an absolute bliss with the wildlife they help preserve and flourish. The Brahmaputra river is a driving force in the region for the changes it makes in the state every monsoon. And of course, there's all the tea in the world and the best of it.</p></a>
              </div>
              <h2 class="heading-tertiary">
                  <span class="heading-tertiary__heading">Assam:</span>
              <span class="heading-tertiary__text">Beyond tea and boundaries</span>
              </h2>
          </div>

            <div class="">
              <div class="image image--5">
                  <a href="{% url 'destination:circuit' slug='bhutan' %}"><p>An overland journey across India and Bhutan, one is bound to have the experience of a lifetime! Bhutan is the only carbon-negative country in the world and has promised to keep 71% of its land as forest cover. With its Buddhist culture and lessons come great valleys, rivers, adventures, culture and people. The winding tarmac roads take you to gorgeous Dzongs, museums, heritage sites, fortresses and forests.</p></a>
              </div>
              <h2 class="heading-tertiary">
                  <span class="heading-tertiary__heading">Bhutan:</span>
              <span class="heading-tertiary__text">Cross country overland</span>
              </h2>
          </div>



          <div class="remove" style="opacity:0">
              <div class="image image--5">
                  <a href="{% url 'destination:circuit' slug='bhutan' %}"><p>An overland journey across India and Bhutan, one is bound to have the experience of a lifetime! Bhutan is the only carbon-negative country in the world and has promised to keep 71% of its land as forest cover. With its Buddhist culture and lessons come great valleys, rivers, adventures, culture and people. The winding tarmac roads take you to gorgeous Dzongs, museums, heritage sites, fortresses and forests.</p></a>
              </div>
              <h2 class="heading-tertiary">
                  <span class="heading-tertiary__heading">Dummy:</span>
              <span class="heading-tertiary__text">Cross country overland</span>
              </h2>
          </div>

        </div>


    </section>
  </body>
{% endblock %}
