{% extends "snippets/base.html" %}
{% load staticfiles %}
{% load dash %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/destination/destination.css' %}?v=1.0.0">
{% endblock %}
{% block title %}
<title>Best Places for Camping in India and Bhutan | Camping Co</title>
{% endblock %}
{% block meta %}
<meta name="description" content="Looking for your next wild camping adventure? Look no further! Check out all the places for camping we have available now!">
<meta name="keywords" content="travel destination, destination for camping, beautiful east india,beautiful notheast,mountains arunachal, mountain meghalaya, caving in meghalaya, caving in meghalaya, waterfall of meghalaya, waterfalls meghalaya ,umiam lake, white water village , mawphlang sacred groove,shnonpdeng, dawki,krangsuri,living root bridge, dainthlen falls, kynrem falls, nohsngithiang falls">
{% endblock %}
{% block content_block %}
<div id="map"></div>
    <h1 style="display: none;">Campsites</h1>
        <div class="scrolling-wrapper destination-back">
           <form id="submit" method="POST" autocomplete="off">
            {% csrf_token %}
             <div class="row no-gutters">
                 <div class="col-md-12 col-lg-6">
                <input list="places" class="input-submit" id="place" type="text" placeholder="filter camp sites with location">
                 <datalist id="places">
                            <option value="Meghalaya">
                            <option value="Assam">
                            <option value="Arunachal Pradesh">
                            <option value="Nagaland">
                            <option value="Sikkim">
                            <option value="Bhutan">
                            <option value="Himachal Pradesh">
                          </datalist>
                <button class="input-submit-button"><i class="fas fa-search"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               </div>
                 <div class="col-md-12 col-lg-3">
                     <input list="sort" class="input-place" type="text" placeholder="sort-by">
                        <datalist id="sort">
                        <option value="price">
                        <option value="rating">
                      </datalist>
                 </div>

                 <div class="col-md-12 col-lg-3">
                    {% if request.user.is_superuser %}
                        <a class="camp__add" href="{% url 'destination:camp_add'  %}">Add Campsite</a>
                    {% endif %}
                 </div>
             </div>
         </form>
              <br>
            <div class="right-arrow">
                    <i class="fas fa-arrow-right"></i>
                </div>

                <div class="left-arrow">
                    <i class="fas fa-arrow-left"></i>
                 </div>
           <div class="remove">
             {% for x in places %}
                 <div class="card" style="width: 18rem;">
                     <a href="{% url 'destination:destination_detail_page' slug=x.destination.slug %}" ><img class="card-img-top" src="{{x.images.url}}" alt="Card image cap"></a>
                  <div class="card-body">
                    <h5 class="card-title">{{x.title}}</h5>
                      <div class="rating" style="display: block; margin: 0 auto;">
                         <span class="fa fa-star"></span>
                         <span class="fa fa-star"></span>
                         <span class="fa fa-star"></span>
                         <span class="fa fa-star"></span>
                         <span class="fa fa-star"></span>
                     </div>
                    <p class="card-text">{{x.description|truncatechars_html:40}}</p>
                    <div class="card-url">
                         <h3>
                            <a class="card-url-1" href="{% url 'destination:destination_detail_page' slug=x.destination.slug %}" >Know more</a>
                            <span class="card-url-2">Price starts @ INR {{x.starting}}</span>
                         </h3>
                     </div>
                  </div>
                </div>
            {% endfor %}
         </div>
           <div class="replace-me"></div>
        </div>
<script>
   function initMap(list1){
       var st = []
       var curr_date = new Date()
       if (curr_date.getHours() > 18) {
           st = [
           {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
           {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
           {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
           {
             featureType: 'administrative.locality',
             elementType: 'labels.text.fill',
             stylers: [{color: '#d59563'}]
           },
           {
             featureType: 'poi',
             elementType: 'labels.text.fill',
             stylers: [{color: '#d59563'}]
           },
           {
             featureType: 'poi.park',
             elementType: 'geometry',
             stylers: [{color: '#263c3f'}]
           },
           {
             featureType: 'poi.park',
             elementType: 'labels.text.fill',
             stylers: [{color: '#6b9a76'}]
           },
           {
             featureType: 'road',
             elementType: 'geometry',
             stylers: [{color: '#38414e'}]
           },
           {
             featureType: 'road',
             elementType: 'geometry.stroke',
             stylers: [{color: '#212a37'}]
           },
           {
             featureType: 'road',
             elementType: 'labels.text.fill',
             stylers: [{color: '#9ca5b3'}]
           },
           {
             featureType: 'road.highway',
             elementType: 'geometry',
             stylers: [{color: '#746855'}]
           },
           {
             featureType: 'road.highway',
             elementType: 'geometry.stroke',
             stylers: [{color: '#1f2835'}]
           },
           {
             featureType: 'road.highway',
             elementType: 'labels.text.fill',
             stylers: [{color: '#f3d19c'}]
           },
           {
             featureType: 'transit',
             elementType: 'geometry',
             stylers: [{color: '#2f3948'}]
           },
           {
             featureType: 'transit.station',
             elementType: 'labels.text.fill',
             stylers: [{color: '#d59563'}]
           },
           {
             featureType: 'water',
             elementType: 'geometry',
             stylers: [{color: '#17263c'}]
           },
           {
             featureType: 'water',
             elementType: 'labels.text.fill',
             stylers: [{color: '#515c6d'}]
           },
           {
             featureType: 'water',
             elementType: 'labels.text.stroke',
             stylers: [{color: '#17263c'}]
           }
         ]
       }


       var options = {
       zoom:4,
       center:{lat:25.1445,lng:91.7362},
       styles: st

     }

     var map = new google.maps.Map(document.getElementById('map'), options);
       var markers = []
      {% for x in places %}
        var marker = {
           coords:{lat:{{x.latitude}},lng:{{x.longitude}}},
           iconImage:'{% static 'images/camp_add/location.svg' %}',
           content:'<div class="py-4"><div class="card-deck"><div class="card"><img class="card-img-top" src="{{x.images.url}}" alt="Card image cap"><div class="card-body"><h5 class="card-title" prikey="{{x.pk}}">{{x.title}}</h5><p class="card-text">{{x.description}}</p></div></div></div></div>',

          }
      if (typeof list1 == "undefined"){
           addMarker(marker);
         } else {
           for (var j = 0; j < list1.length; j++) {
             if({{x.pk}} == list1[j]){
               addMarker(marker);
               break
             }
           }
         }

       {% endfor %}

     function addMarker(props){
       var marker = new google.maps.Marker({
         position:props.coords,
         map:map,

       });


       if(props.iconImage){

         marker.setIcon(props.iconImage);
       }


       if(props.content){
         var infoWindow = new google.maps.InfoWindow({
           content:props.content,
           maxWidth: 600
         });

         marker.addListener('click', function(){
           infoWindow.open(map, marker);
         });
       }
     }
   }
</script>
<script async defer
   src="https://maps.googleapis.com/maps/api/js?key={{maps}}&callback=initMap"></script>
<script>
var loc = window.location.origin
function display_star(){
   $(".rating").each(function( index ) {
              $(this).children().each(function( index2 ) {
              if (index2 == rating[index]){
                return false;
              }
              $(this).addClass("checked")
          })
        })
}
function filter_price(){
    //filtering site with lowest price and vice versa
    var t = $("input[name=csrfmiddlewaretoken]").val();
    $(".input-place").change(function(){
        data = {
           value: $(this).val(),
           csrfmiddlewaretoken: t
           },
        $.ajax({
            data: data,
            url: '/destination/',
            method: "POST",
            success: function(e){
                $(".remove").fadeOut(300, function(){
                $(".remove").remove();
                for (var x = 0; x < e.lower_priced_places.length; x++){
                 i = "https://camping-company.s3.amazonaws.com/media/" + e.lower_priced_places[x].images
                 title = e.lower_priced_places[x].title
                 starting = e.lower_priced_places[x].starting
                 description = e.lower_priced_places[x].description
                 description = description.substring(0, 40) + '...';
                 var url = loc + '/destination/' + title.replace(/\s+/g, '-')
                 $(".replace-me").append('<div class="card" style="width: 18rem;"> <img src="' + i + '" class="card-img-top" alt="destination"><div class="card-body"><h5 class="card-title">' + title + '</h5><div class="rating" style="display: block; margin: 0 auto;"> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div><p class="card-text">' + description + '</p><div class="card-url"><h3> <a class="card-url-1" href="'  + url +  '">Know more</a> <span class="card-url-2">Price starts @ INR ' + starting + '</span></h3></div></div></div>')
                }
                 display_star();
            });
            },
            error: function(error){
                console.log(error)
            }
        })
    })
}
   window.onload = function () {
   rating = {{list2}}
   filter_price();
   display_star();
       $("#submit").submit(function(e) {
       e.preventDefault();
       var t = $("input[name=csrfmiddlewaretoken]").val();
       return $.ajax({
           type: "POST",
           url: "/destination/",
           data: {
               place: $("#place").val(),
               csrfmiddlewaretoken: t
           },
           success: function(e) {
               $("#place").val("")
               $(".remove").fadeOut(300,function(){
                $(".remove").remove();
                {% for x in places %}
               for (var z = 0; z < e.list1.length; z++){
                  if ({{x.pk}} == e.list1[z]){
                     $(".replace-me").append('<div class="card" style="width: 18rem;"> <a href="{% url 'destination:destination_detail_page' slug=x.destination.slug %}" ><img class="card-img-top" src="{{x.images.url}}" alt="Card image cap"></a><div class="card-body"><h5 class="card-title">{{x.title}}</h5><div class="rating" style="display: block; margin: 0 auto;"> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div><p class="card-text">{{x.description|truncatechars_html:40}}</p><div class="card-url"><h3> <a class="card-url-1" href="{% url 'destination:destination_detail_page' slug=x.destination.slug %}" >Know more</a> <span class="card-url-2">Price starts @ INR {{x.starting}}</span></h3></div></div></div>')
                     break;
                  }

               }
               display_star();
               {% endfor %}
               })
               initMap(e.list1)
               }
           })
        })
        $(".right-arrow").click(function(){
           document.querySelector(".scrolling-wrapper").scrollBy(1000,0);
        })

        $(".left-arrow").click(function(){
           document.querySelector(".scrolling-wrapper").scrollBy(-1000,0);
        })

        $(document).scroll(function(){
          var left = document.querySelector(".right-arrow")
          var right = document.querySelector(".left-arrow")
          left.style.position = 'absolute';
          right.style.position = 'absolute';
        })
        //clicking card open map marker 55-102
        //var z = document.querySelectorAll('#map div img')
        //document.querySelectorAll('#map div img')[55].click()
   }
</script>
{% endblock %}