{% extends "snippets/base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/destination/detail.css' %}">
<link rel="canonical" href="https://www.camping-co.com">
{% endblock %}
{% block title %}
<title>{{item.place}}</title>
{% endblock %}
{% block meta %}
<meta name="description" content="{{item.description}}">
<meta name="keywords" content="camping places detail, camping activities, camping origins, camping stay hours">
{% endblock %}
{% block content_block %}
    <div class="space-bottom--big"></div>
    <div class="container">
      <div class="row">
        <div class="col-6">
          {% if request.user.is_superuser %}
              <a href="{% url 'destination:camp_update' slug=destination.slug %}"><img class="image--center--1" src="{% static 'images/camp_add/pencil-edit-button.svg' %}" alt=""></a>
          {% endif %}
        </div>
<!--        <div style="text-align: right;" class="col-6">-->
<!--          {% if request.user.is_superuser %}-->
<!--          <a href="{% url 'destination:camp_update' slug=destination.slug %}"><img class="image&#45;&#45;center&#45;&#45;1" src="{% static 'images/camp_add/pencil-edit-button.svg' %}" alt=""></a>-->
<!--          {% endif %}-->
<!--        </div>-->
      </div>
      <div class="row">
        <div class="col-lg-6 col-sm-12 col-xs-12">
          <h3 style="text-transform: uppercase;">{{destination.site_type}}</h3><br>
          <h1 class="heading-primary">{{destination.place}}</h1><br>
          <img class="loc" src="{% static 'images/destination-detail/maps-and-flags.svg'  %}"><span class="heading-primary__min">{{destination.state_city}}</span>
          <div class="space-bottom--big"></div>
          <br><br>
          <p class="no-gutters opac">Accessible By:- </p> <span>{{detail.accessible_By}}</span><br>
          <p class="no-gutters opac">  Known for:- </p><span>{{destination.known_for}}</span>
          <div class="space-bottom--big"></div>
          {% if pricing.book %}
          <a href="#" class="book" data-toggle="modal" data-target="#exampleModalCenter">Book Now</a>
          {% else %}
              <button disabled class="book" data-toggle="modal" data-target="#exampleModalCenter">Book Now</button>
          {% endif %}
          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-lg modal-dialog modal-dialog-centered" role="document" style="max-width: 1200px; border-radius:20px;">
              <div class="modal-content myModal" >
                <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalCenterTitle" style="font-size: 30px;">Booking</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size:40px;">&times;</span>
                  </button>
                </div>
                <form action="POST">{%csrf_token%}
                <div class="modal-body">
                  <p>&nbsp;Check in: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  Days:
                  </p>
                  <p>
                  &nbsp; <input id="datetimepicker" name="tripDay" class="check-in__date" type="text" required pattern="\d{4}-\d{2}-\d{2}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="days__date" min="0" style="text-align:left;" name="Duration" type="number" pattern="\d{4}-\d{2}-\d{2}" required>
                  </p>
                  <br>

                  <div class="row tableHeading" style="padding:15px";>
                    <div class="col-5">
                      <strong>&nbsp;&nbsp;&nbsp;Item</strong>
                    </div>

                    <div class="col-3">
                      <strong>Price</strong>
                    </div>

                    <div class="col-2">
                      <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QTY</strong>
                    </div>

                    <div class="col-2" style="text-align:right;">
                      <strong>Total</strong>
                    </div>
                  </div>
                  {% if pricing.caravan is not 0 %}
                  <div class="row" style="padding:15px; padding-top:20px;">
                    <div class="col-5">
                      &nbsp;&nbsp;&nbsp;<img src="{% static 'images/destination-detail/Caravan.svg' %}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      Caravan
                    </div>

                    <div class="col-3">
                      INR {{pricing.caravan}}
                    </div>

                    <div class="col-2" style="text-align:center;">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-light btn-number" data-quantity="minus" data-field="quantity">
                              <span class="fa fa-minus"></span>
                            </button>
                          </span>
                          <span id="quantity">0</span>

                          <span class="input-group-btn">
                            <button type="button" class="btn btn-light btn-number" data-quantity="plus" data-field="quantity">
                                <span class="fa fa-plus"></span>
                            </button>
                          </span>
                        </div>
                    </div>

                    <div class="col-2" style="text-align:right;">
                      <span id="caravan-total">INR 0</span>
                    </div>
                  </div>
                  {% endif %}

                  {% if pricing.rooftop is not 0 %}
                  <div class="row" style="padding:15px; padding-top:20px;">
                    <div class="col-5">
                      &nbsp;&nbsp;&nbsp;<img src="{% static 'images/destination-detail/camper.svg' %}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      Roottop Tent
                    </div>

                    <div class="col-3">
                      INR {{pricing.rooftop}}
                    </div>

                    <div class="col-2" style="text-align:center;">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-light btn-number" data-quantity="first_minus" data-field="roof">
                              <span class="fa fa-minus"></span>
                            </button>
                          </span>
                          <span id="roof">0</span>

                          <span class="input-group-btn">
                            <button type="button" class="btn btn-light btn-number" data-quantity="first_plus" data-field="roof">
                                <span class="fa fa-plus"></span>
                            </button>
                          </span>
                        </div>
                    </div>

                    <div class="col-2" style="text-align:right;">
                        <span id="rooftop-total">INR 0</span>
                    </div>
                  </div>
                  {% endif %}

                  {% if pricing.BYOT is not 0 %}
                  <div class="row" style="padding:15px; padding-top:20px;">
                    <div class="col-5">
                      &nbsp;&nbsp;&nbsp;<img src="{% static 'images/destination-detail/tent.svg' %}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      Ground Tent
                    </div>

                    <div class="col-3">
                      INR {{pricing.BYOT}}
                    </div>

                    <div class="col-2" style="text-align:center;">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-light btn-number" data-quantity="second_minus" data-field="ground">
                              <span class="fa fa-minus"></span>
                            </button>
                          </span>
                          <span id="ground">0</span>

                          <span class="input-group-btn">
                            <button type="button" class="btn btn-light btn-number" data-quantity="second_plus" data-field="ground">
                                <span class="fa fa-plus"></span>
                            </button>
                          </span>
                        </div>
                    </div>

                    <div class="col-2" style="text-align:right;">
                       <span id="BYOT-total">INR 0</span>
                    </div>
                  </div>
                {% endif %}

                {% if pricing.room is not 0 %}
                  <div class="row" style="padding:15px; padding-top:20px;">
                    <div class="col-5">
                      &nbsp;&nbsp;&nbsp;<img src="{% static 'images/destination-detail/home.svg' %}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      Rooms
                    </div>

                    <div class="col-3">
                      INR {{pricing.room}}
                    </div>

                    <div class="col-2" style="text-align:center;">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-light btn-number" data-quantity="third_minus" data-field="room">
                              <span class="fa fa-minus"></span>
                            </button>
                          </span>
                          <span id="room">0</span>

                          <span class="input-group-btn">
                            <button type="button" class="btn btn-light btn-number" data-quantity="third_plus" data-field="room">
                                <span class="fa fa-plus"></span>
                            </button>
                          </span>
                        </div>
                    </div>

                    <div class="col-2" style="text-align:right;">
                       <span id="price-total">INR 0</span>
                    </div>
                  </div>
                  {% endif %}

                  <div class="row" style="padding-top:30px;">
                    <div class="col-6"></div>
                    <div class="col-6" style="text-align:right;">
                      <p id="subtotal">Subtotal 0</p>
                      <p id="IGST">IGST 0</p>
                      <p id="convenience">Convenience charge 0</p>
                    </div>
                  </div>

                </div>
                <div class="modal-footer" >
                  <span  id="total" style="font-size: 24px;">Total INR 0</span>
                  <button type="button" id="rzp-button1" class="btn btn-primary book">Checkout</button>
                </div>
                </form>
              </div>
            </div>
          </div>
          <!-- modal end -->
        </div>
        <br>
        <div class="col-lg-6 col-sm-12 col-xs-12">
          <img class ="heador-image" src="{{destination.image_main.url}}">
        </div>
      </div>
      <br><br><br><br>

      <div class="basicAmenity">
        <br>
        <div class="row">
          {% if feature.off_roading %}
            <div class="col-3">
                <img src="{% static 'images/destination-detail/sports-car.svg' %}">
                <p>Off Roading</p>
            </div>
          {% endif %}

          {% if feature.cycling %}
          <div class="col-3">
            <img src="{% static 'images/destination-detail/bike.svg' %}">
            <p>Cycling</p>
          </div>
          {% endif %}


          {% if feature.campfire %}
            <div class="col-3">
            <img src="{% static 'images/destination-detail/campfire.svg' %}">
            <p>Campfire</p>
          </div>
          {% endif %}


          {% if feature.toilet %}
          <div class="col-3">
            <img src="{% static 'images/destination-detail/toilet-.svg' %}">
            <p>Toilets</p>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="space-bottom--big"></div>

      <div class="description row">
        <div class="col-12">
          <h4 class="heading-primary__sub">Description And Features</h4>
          <div class="space-bottom--big"></div>
          <p class="opac">{{destination.description|safe}}</p>
        </div>
      </div>
      <div class="space-bottom--big"></div>
      <div class="row no-gutters">
        <h4 class="heading-primary__sub">Amenities</h4>
      </div>
         <div class="space-bottom--big"></div>

      <div class="row no-gutters">
       <div class="col-12 divide">
          <ul>
                 {% if amenity.basic_toilet %}
                    <li>
                      <img class="loc" src="{% static 'images/destination-detail/toilet (2).svg' %}">
                      Toilet
                    </li>
                 {% else %}
                    <li class="strike">
                      <img class="loc" src="{% static 'images/destination-detail/toilet (2).svg' %}">
                          Toilet
                    </li>
                 {% endif %}
                <li class="space-bottom--small"></li>

                 {% if amenity.bathroom %}
                    <li><img class="loc" src="{% static 'images/destination-detail/lavatory.svg' %}">Bathroom</li>
                 {% else %}
                    <li class="strike"><img class="loc" src="{% static 'images/destination-detail/lavatory.svg' %}">Bathroom</li>
                 {% endif %}

                <li class="space-bottom--small"></li>

                  <li class="space-bottom--small"></li>

                 {% if amenity.kitchen %}
                    <li>
                      <img class="loc" src="{% static 'images/destination-detail/cooking.svg' %}">
                      Kitchen
                    </li>
                 {% else %}
                    <li class="strike">
                      <img class="loc" src="{% static 'images/destination-detail/cooking.svg' %}">
                      Kitchen
                    </li>
                 {% endif %}

                <li class="space-bottom--small"></li>

                 {% if amenity.pets_allowed %}
            <li><img class="loc" src="{% static 'images/destination-detail/track.svg' %}">Pets</li>
                 {% else %}
                    <li class="strike"><img class="loc" src="{% static 'images/destination-detail/track.svg' %}">pets</li>
                 {% endif %}

                <li class="space-bottom--small"></li>

                 {% if amenity.charging_points %}
                    <li><img class="loc" src="{% static 'images/destination-detail/plug.svg' %}">Charging Point</li>
                 {% else %}
                    <li class="strike"><img class="loc" src="{% static 'images/destination-detail/plug.svg' %}">charging points</li>
                 {% endif %}

                <li class="space-bottom--small"></li>

                 {% if amenity.drinking_water %}
                    <li><img class="loc" src="{% static 'images/destination-detail/medication.svg' %}">Drinking Water</li>
                 {% else %}
                    <li class="strike"><img class="loc" src="{% static 'images/destination-detail/medication.svg' %}">Drinking Water</li>
                 {% endif %}

                <li class="space-bottom--small"></li>

                 {% if amenity.barbeque_grills %}
                    <li><img class="loc" src="{% static 'images/destination-detail/barbeque.svg' %}">Barbeque</li>
                 {% else %}
                    <li class="strike loc"><img class="loc" src="{% static 'images/destination-detail/barbeque.svg' %}">Barbeque</li>
                 {% endif %}

                <li class="space-bottom--small"></li>

                 {% if amenity.campfire %}
                    <li><img class="loc" src="{% static 'images/destination-detail/Bonfire.svg' %}">&nbsp;&nbsp;&nbsp;&nbsp;Bonfire</li>
                 {% else %}
                    <li class="strike loc"><img class="loc" src="{% static 'images/destination-detail/Bonfire.svg' %}">&nbsp;&nbsp;&nbsp;&nbsp;Bonfire</li>
                 {% endif %}

                <li class="space-bottom--small"></li>

                 {% if amenity.picnic_table %}
                    <li><img class="loc" src="{% static 'images/destination-detail/park.svg' %}">Picnic Table></li>
                 {% else %}
                    <li class="strike"><img class="loc" src="{% static 'images/destination-detail/park.svg' %}">Picnic Table</li>
                 {% endif %}

                <li class="space-bottom--small"></li>

                 {% if amenity.breakfast %}
                    <li><img class="loc" src="{% static 'images/destination-detail/breakfast (1).svg' %}">Breakfast</li>
                 {% else %}
                    <li class="strike"><img class="loc" src="{% static 'images/destination-detail/breakfast (1).svg' %}">Breakfast</li>
                 {% endif %}

              </ul>

        </div>
      </div>
    <div class="space-bottom--big"></div>
      <!-- Activites -->
      <div class="row no-gutters">
        <h4 class="heading-primary__sub">Activities</h4>
      </div>

               <div class="space-bottom--big"></div>


      <div class="row">
        {% if activity.caving %}
        <div class="col-md-6 col-12">
          <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title heading-primary__min">Cave </h5>
                <img class="card-imgs" src="{% static 'images/destination-detail/cave.svg' %}">
              <p class="card-text opac">Visit nearby cave in Night.</p>
            </div>
          </div>
          <div class="space-bottom--big"></div>
        </div>
        {% endif %}

        {% if activity.waterfall %}
        <div class="col-md-6 col-12">
          <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title heading-primary__min">Waterfall</h5>
                <img class="card-imgs" src="{% static 'images/destination-detail/waterfall.svg' %}">
              <p class="card-text opac">More than two waterfalls near 10km range.</p>
            </div>
          </div>
          <div class="space-bottom--big"></div>
        </div>
      {% endif %}

        {% if activity.off_roading %}
        <br>
        <div class="col-md-6 col-12">
          <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title heading-primary__min">Off-Roading</h5>
                <img class="card-imgs" src="{% static 'images/destination-detail/taxi.svg' %}">
              <p class="card-text opac">Visite nearby places.</p>
            </div>
          </div>
          <div class="space-bottom--big"></div>
        </div>
        {% endif %}

        {% if activity.trekking %}
        <div class="col-md-6 col-12">
          <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title heading-primary__min">Trekking</h5>
                <img class="card-imgs" src="{% static 'images/destination-detail/hiker.svg' %}">
              <p class="card-text opac">More than five cliffs near 10km range.</p>
            </div>
          </div>
          <div class="space-bottom--big"></div>
        </div>
        {% endif %}

        {% if activity.boating %}
        <div class="col-md-6 col-12">
          <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title heading-primary__min">Boating</h5>
              <img class="card-imgs" src="{% static 'images/destination-detail/Boating.svg' %}">
              <p class="card-text opac">Refresh yourself while boating in fresh water lakes.</p>
            </div>
          </div>
          <div class="space-bottom--big"></div>
        </div>
        {% endif %}

        {% if activity.lake %}
        <div class="col-md-6 col-12">
          <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title heading-primary__min">Lake</h5>
              <img class="card-imgs" src="{% static 'images/destination-detail/Lake.svg' %}">
              <p class="card-text opac">More than 10 lakes in the area.</p>
            </div>
          </div>
          <div class="space-bottom--big"></div>
        </div>
        {% endif %}

        {% if activity.jungle_walk %}
        <div class="col-md-6 col-12">
          <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title heading-primary__min">Jungle Walk</h5>
                <img class="card-imgs" src="{% static 'images/destination-detail/forest.svg' %}">
              <p class="card-text opac">Adventure in the jungle</p>
            </div>
          </div>
          <div class="space-bottom--big"></div>
        </div>
        {% endif %}

        {% if activity.local_farm %}
        <div class="col-md-6 col-12">
          <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title heading-primary__min">Local Farm Visit</h5>
                <img class="card-imgs" src="{% static 'images/destination-detail/tractor.svg' %}">
              <p class="card-text opac">Visit to the local farm.</p>
            </div>
          </div>
          <div class="space-bottom--big"></div>
        </div>
        {% endif %}

        {% if activity.river_beach %}
        <div class="col-md-6 col-12">
          <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title heading-primary__min">River Beach</h5>
                <img class="card-imgs" src="{% static 'images/destination-detail/sunset.svg' %}">
              <p class="card-text opac">Get the feel of beach and not caring about the tides.</p>
            </div>
          </div>
          <div class="space-bottom--big"></div>
        </div>
        {% endif %}

        {% if activity.swimming %}
        <div class="col-md-6 col-12">
          <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title heading-primary__min">Swimming</h5>
                <img class="card-imgs" src="{% static 'images/destination-detail/swim.svg' %}">
              <p class="card-text opac">Swim from the core of your heart.</p>
            </div>
          </div>
          <div class="space-bottom--big"></div>
        </div>
        {% endif %}

        {% if activity.historical_monument %}
        <div class="col-md-6 col-12">
          <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title heading-primary__min">Historical Monument</h5>
                <img class="card-imgs" src="{% static 'images/destination-detail/temple.svg' %}">
              <p class="card-text opac">Visit to the nearest monumnets.</p>
            </div>
          </div>
          <div class="space-bottom--big"></div>
        </div>
        {% endif %}

        {% if activity.fishing %}
        <div class="col-md-6 col-12">
          <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title heading-primary__min">Fishing</h5>
                <img class="card-imgs" src="{% static 'images/destination-detail/float.svg' %}">
              <p class="card-text opac">let's go fishing!</p>
            </div>
          </div>
        </div>
        {% endif %}
      </div>

      <!-- Accomodation and charges -->
      <div class="row no-gutters">
        <h4 class="heading-primary__sub">Accomodation and charges</h4>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <p class="opac">Check-in:</p> <span>{{detail.check_in}}</span><br>
          <p class="opac">Check-out: </p> <span>{{detail.check_out}}</span><br>
         <p class="opac">Cancellation policy: </p> <span>{{detail.cancellation_policy}}</span>
        </div>
      </div>
      <div class="space-bottom--big"></div>

      <!-- Climate and Temperature -->
      <div class="row no-gutters">
        <h4 class="heading-primary__sub">Climate and Temperature</h4>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <p class="opac">Suitable-for: </p> <span>{{destination.season}}</span><br>
          <p class="opac">Temp in Summer: </p> <span>{{destination.night_time_temperature_summer}}</span><br>
         <p class="opac">Temp in Winter:</p> <span>{{destination.night_time_temperature_winter}}</span>
        </div>
      </div>
      <div class="space-bottom--big"></div>

      <!-- room book button -->
      <div class="row">
        <div class="col-12">
          <a href="#" class="roomBook">Experiences</a>
        </div>
      </div>
      <div class="space-bottom--big"></div>
      <hr>

      <div class="space-bottom--big"></div>

        {% for x in experience %}
          {% if forloop.counter == 2 %}
          <div class="row">
              <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="wrapper">
                  <div class="bot-div"></div>
                  <img class="bot-image" src="{{x.image.url}}">
                </div>
              </div>
            <div class="col-lg-6">
              <div class="space-bottom--medium"></div>
               <div class="space-bottom--small"></div>
              <h4 class="heading-primary__sub">{{x.title}}</h4>
              <div class="space-bottom--medium"></div>
              <p class="opac">{{x.description}}</p>
            </div>
                  </div>
          <br><br>
        {% else %}
          <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12">
              <div class="space-bottom--medium"></div>
               <div class="space-bottom--small"></div>
              <h4 class="heading-primary__sub">{{x.title}}</h4>
              <div class="space-bottom--medium"></div>
              <p class="opac">{{x.description}}</p>
            </div>

            <div class="col-lg-6 col-sm-12 col-xs-12">
              <div class="wrapper">
                <div class="bot-div"></div>
                <img class="bot-image" src="{{x.image.url}}">
              </div>
            </div>
          </div>
          <br><br>
        {% endif %}
      {% endfor %}
    </div>
<script defer src="{% static 'js/razorpay.js' %}"></script>
<script>
window.onload = function(){
      var rooftop = 0, ground = 0, caravan = 0,igst = 0, convenience = 0, subtotal = 0, room = 0;
      function updateValue(price,totString){
              subtotal = caravan + ground + rooftop + room
              IGST = subtotal * .18
              convenience = subtotal * .024
              total = subtotal + IGST + convenience;

              str1 = "INR " + price.toString()
              str2 = "Subtotal INR " + subtotal.toString()
              str3 = "IGST INR " + IGST.toString()
              str4 = "Convenience INR " + convenience.toString()
              str5 = "Total INR " + total.toString()

              $(totString).text(str1)
              $("#subtotal").text(str2)
              $("#IGST").text(str3)
              $("#convenience").text(str4)
              $("#total").text(str5)
      }
      $('button[data-quantity="plus"]').click(function(e){
        if($(".days__date").val() == ""){
          alert("please put number of days")
        } else {
          e.preventDefault();
          fieldName = $(this).attr('data-field');
          var currentVal = parseInt($('#'+fieldName).text());
          if (!isNaN(currentVal)) {
              $('#'+fieldName).text(currentVal + 1);
              caravan = ({{pricing.caravan}} * (currentVal + 1)) * parseInt($(".days__date").val())
              updateValue(caravan, "#caravan-total")
          } else {
              // Otherwise put a 0 there
              $('#'+fieldName).text(0);
          }
        }
      });
      // This button will decrement the value till 0
      $('button[data-quantity="minus"]').click(function(e) {
      if($(".days__date").val() == ""){
          alert("please put number of days")
        } else {
          e.preventDefault();
          fieldName = $(this).attr('data-field');
          var currentVal = parseInt($('#'+fieldName).text());
          if (!isNaN(currentVal) && currentVal > 0) {
              $('#'+fieldName).text(currentVal - 1);
              caravan = ({{pricing.caravan}} * (currentVal - 1)) * parseInt($(".days__date").val())
              updateValue(caravan, "#caravan-total")
          } else {
              // Otherwise put a 0 there
              $('#'+fieldName).text(0);
          }
        }
      });


    $('button[data-quantity="first_plus"]').click(function(e){
          if($(".days__date").val() == ""){
          alert("please put number of days")
        } else {
          e.preventDefault();
          fieldName = $(this).attr('data-field');
          var currentVal = parseInt($('#'+fieldName).text());
          if (!isNaN(currentVal)) {
              $('#'+fieldName).text(currentVal + 1);
              rooftop = ({{pricing.rooftop}} * (currentVal + 1)) * parseInt($(".days__date").val())
              updateValue(rooftop, "#rooftop-total")
          } else {
              // Otherwise put a 0 there
              $('#'+fieldName).text(0);
          }
        }
      });
      $('button[data-quantity="first_minus"]').click(function(e) {
          e.preventDefault();
          fieldName = $(this).attr('data-field');
          var currentVal = parseInt($('#'+fieldName).text());
          if (!isNaN(currentVal) && currentVal > 0) {
              $('#'+fieldName).text(currentVal - 1);
              rooftop = ({{pricing.rooftop}} * (currentVal - 1)) * parseInt($(".days__date").val())
              updateValue(rooftop, "#rooftop-total")
          } else {
              $('#'+fieldName).text(0);
          }
      });

      $('button[data-quantity="second_plus"]').click(function(e){
          if($(".days__date").val() == ""){
          alert("please put number of days")
        } else {
          e.preventDefault();
          fieldName = $(this).attr('data-field');
          var currentVal = parseInt($('#'+fieldName).text());
          if (!isNaN(currentVal)) {
              $('#'+fieldName).text(currentVal + 1);
              ground = ({{pricing.BYOT}} * (currentVal + 1)) * parseInt($(".days__date").val())
              updateValue(ground, "#BYOT-total")
          } else {
              $('#'+fieldName).text(0);
          }
      }
      });
      $('button[data-quantity="second_minus"]').click(function(e) {
          e.preventDefault();
          fieldName = $(this).attr('data-field');
          var currentVal = parseInt($('#'+fieldName).text());
          if (!isNaN(currentVal) && currentVal > 0) {
              $('#'+fieldName).text(currentVal - 1);
              ground = ({{pricing.BYOT}} * (currentVal - 1)) * parseInt($(".days__date").val())
              updateValue(ground, "#BYOT-total")
          } else {
              $('#'+fieldName).text(0);
          }
      });

      $('button[data-quantity="third_plus"]').click(function(e){
          if($(".days__date").val() == ""){
          alert("please put number of days")
        } else {
          e.preventDefault();
          fieldName = $(this).attr('data-field');
          var currentVal = parseInt($('#'+fieldName).text());
          if (!isNaN(currentVal)) {
              $('#'+fieldName).text(currentVal + 1);
              room = ({{pricing.room}} * (currentVal + 1)) * parseInt($(".days__date").val())
              updateValue(room, "#price-total")
          } else {
              $('#'+fieldName).text(0);
          }
      }
      });
      $('button[data-quantity="third_minus"]').click(function(e) {
          e.preventDefault();
          fieldName = $(this).attr('data-field');
          var currentVal = parseInt($('#'+fieldName).text());
          if (!isNaN(currentVal) && currentVal > 0) {
              $('#'+fieldName).text(currentVal - 1);
              room = ({{pricing.room}} * (currentVal - 1)) * parseInt($(".days__date").val())
              updateValue(room, "#price-total")
          } else {
              $('#'+fieldName).text(0);
          }
      });

    $("#datetimepicker").datetimepicker({
     timepicker:false,
     format:'Y-m-d',
     minDate:0,
     });

   var options = {
       "currency": "INR",
       "name": "Camping co",
       "description": "Overlanding expedition booked",
       "image": "{% static 'images/favi/apple-icon-72x72.png' %}",
       "handler": function (response){
               var end_point = {% url 'destination:destinations' %}
               var end = end_point + "success/";//success/faliure
               var t = $("input[name=csrfmiddlewaretoken]").val();
               data = {
                 "txnid": response.razorpay_payment_id,
                 "csrfmiddlewaretoken": t
               }
               $.ajax({
                 data: data,
                 url: end,
                 method: "POST",
                 success: function(data){
                 window.location.href = end;
                 },
                 error: function(error){
                     console.log(error)
                 }
             })
       },
       "prefill": {
       },
       "notes": {
           "address": "note value"
       },
       "theme": {
           "color": "#1ab188"
       }
   };

 document.getElementById('rzp-button1').onclick = function(e){
 if ($("input[name=tripDay]").val() == ""){
    alert("Please fill date")
 } else {
    e.preventDefault();
        var paymentMethodEndpoint = "{% url 'destination:destination_detail_page' slug=destination.slug %}"
        var t = $("input[name=csrfmiddlewaretoken]").val();
        data = {
         "csrfmiddlewaretoken": t,
         "Rooftop": rooftop,
         "Ground": ground,
         "Caravan": caravan,
         "date": $("input[name=tripDay]").val(),
         "number": $("input[name=Duration]").val(),
        }
      $.ajax({
            data: data,
            url: paymentMethodEndpoint,
            method: "POST",
            success: function(data){
            if (data.error){
              alert("Please log in first");
              window.location.href = "{% url 'register:signup' %}"
            } else {
              options.amount = data.amount * 100;
              options.prefill.email = data.email
              options.prefill.name = data.name
              options.key = data.razor_id
              var rzp1 = new Razorpay(options);
              rzp1.open();
            }
            },
            error: function(error){
                console.log(error)
            }
        })
        }
  }
}
</script>
{% endblock %}