{% extends "snippets/base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/destination/experience_detail.css' %}">
{% endblock %}
{% block content_block %}
    <br><br>
    <div class="container">
        <section class="slide">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                   <div class="carousel-inner">
                       {% for image in experience.experience_name.all %}
                        {% if forloop.counter == 1 %}
                            <div class="carousel-item active">
                        {% else %}
                            <div class="carousel-item">
                        {% endif %}
                                <img class="d-block w-100" src="{{ image.image.url }}" alt="First slide">
                            </div>
                       {% endfor %}
                   </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </section>
        <section class="main">
            <div class="main__content">
                <div class="heading__content">
                    <p style="color:blue;">{{ experience.rating }} </p>
                    <h1 class="heading__primary">{{ experience.name }}</h1>
                    <p class="heading__text">{{ experience_quotation }}</p>
                    <p class="heading__rating">4.5/5.0 (<a href="#">5 reviews</a>) {{experience.total_book}}+ Booked</p>

                    <p class="heading__description">
                        {{ experience.description }}
                    </p>
                    <p><span class="active">Difficulty Level</span> - {{ experience.difficulty }}</p>

                    <p><span class="active">Price</span> - INR. {{ experience.price }}/Person </p>

                    <p><span class="active">Group Size</span> - {{ experience.group_size }}</p>

                </div>
                <h2 class="active" style="font-size:2.8rem;">Package Description</h2>
                <h3 class="active">What is included?</h3>

                {{experience.include|safe}}

                <h3 class="active">What is this trip not inclusive of?</h3>
               {{experience.inclusive|safe}}
                <h3 class="active">Itinerary</h3>
                {{experience.itinerary|safe}}

                <h3 class="active">Validity</h3>
                {{experience.validity|safe}}

                <h3 class="active">Eligibility</h3>
                {{experience.eligibility|safe}}

                <h3 class="active">Additional Info</h3>
                {{experience.additional_info|safe}}

                <h3 class="active">What to bring</h3>
                {{experience.what_to_bring|safe}}
            </div>

            <div class="main__price">
                <div class="card">
                    <p>Best price guarantee</p>
                    <p>from <span class="active">INR {{ experience.price }}</span></p>
                    <p><i class="far fa-clock"></i> Book now for today</p>
                    <p><i class="fas fa-bolt"></i> Instant confirmation</p>
                    <a href="#" class="btn btn--orange" data-toggle="modal" data-target="#exampleModalCenter">Book Now</a>
                    <p>Get credit when complete experience</p>
                </div>
            </div>
        </section>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-lg modal-dialog modal-dialog-centered" role="document" style="max-width: 1200px; border-radius:20px;">
              <div class="modal-content myModal" >
                <div class="modal-header">
                  <h3 class="modal-title active" id="exampleModalCenterTitle">Booking</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="POST">{%csrf_token%}
                <div class="modal-body">
                  <p>Check in:</p>
                    <input style="width: 100%;" id="datetimepicker" name="tripDay" class="check-in__date" type="text" required pattern="\d{4}-\d{2}-\d{2}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <br><br>
                  <div class="d-flex justify-content-between">
                    <strong>Item</strong>
                    <div class="ml-auto">
                      <strong>Number of person</strong>
                    </div>
                  </div>
                  <div class="d-flex">
                    <div style="display:flex; align-items:center;">
                     <img src="{% static 'images/destination-detail/hiker.svg' %}">&nbsp;
                      <span>{{experience.name}}</span>
                    </div>

                    <div class="ml-auto">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-light btn-number" data-quantity="minus" data-field="experience">
                              <span class="fa fa-minus"></span>
                            </button>

                          </span>
                          <span id="experience">0</span>

                          <span class="input-group-btn">
                            <button type="button" class="btn btn-light btn-number" data-quantity="plus" data-field="experience">
                                <span class="fa fa-plus"></span>
                            </button>
                          </span>
                        </div>
                    </div>
                  </div>
                <hr/>
              <div class="d-flex justify-content-between">
                    <strong>Item</strong>
                    <div class="ml-auto">
                      <strong>Number of Days</strong>
                    </div>
                  </div>
                    <div class="d-flex">
                    <div style="display:flex; align-items:center;">
                    <img src="{% static 'images/destination-detail/camper.svg' %}">&nbsp;
                    <span>Camper</span>
                    </div>

                    <div class="ml-auto">
                    <div class="input-group">
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-light btn-number" data-quantity="first_minus" data-field="camper">
                    <span class="fa fa-minus"></span>
                    </button>

                    </span>
                    <span id="camper">0</span>

                    <span class="input-group-btn">
                    <button type="button" class="btn btn-light btn-number" data-quantity="first_plus" data-field="camper">
                    <span class="fa fa-plus"></span>
                    </button>
                    </span>
                    </div>
                    </div>
                    </div>
                    <hr/>
                    <div class="d-flex justify-content-between">
                    <strong>Item</strong>
                    <div class="ml-auto">
                      <strong>Number of Quantity</strong>
                    </div>
                  </div>
                    <div class="d-flex">
                    <div style="display:flex; align-items:center;">
                    <img src="{% static 'images/destination-detail/Bonfire.svg' %}">&nbsp;
                    <span>Campkit</span>
                    </div>

                    <div class="ml-auto">
                    <div class="input-group">
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-light btn-number" data-quantity="second_minus" data-field="campkit">
                    <span class="fa fa-minus"></span>
                    </button>

                    </span>
                    <span id="campkit">0</span>

                    <span class="input-group-btn">
                    <button type="button" class="btn btn-light btn-number" data-quantity="second_plus" data-field="campkit">
                    <span class="fa fa-plus"></span>
                    </button>
                    </span>
                    </div>
                    </div>
                    </div>
                    <hr/>
                  <div class="row" style="padding-top:30px;">
                    <div class="col-6"></div>
                    <div class="col-6" style="text-align:right;">
                      <p id="subtotal">Subtotal 0</p>
                      <p id="IGST">IGST 0</p>
                      <p id="convenience">Convenience charge 0</p>
                    </div>
                  </div>

                </div>
                <div class="modal-footer">
                  <span  id="total">Total INR 0</span>
                  <button type="button" id="rzp-button1" class="btn btn--orange book">Checkout</button>
                </div>
                </form>
              </div>
            </div>
          </div>
    </div>
<script defer src="{% static 'js/razorpay.js' %}"></script>
<script>
       window.onload = function(){
       var experiences = 0,igst = 0, convenience = 0, subtotal = 0, campkit = 0, camper = 0;
      function updateValue(price,totString){
              subtotal = camper + experiences + campkit
              IGST = Math.ceil(subtotal * .18)
              convenience = Math.ceil(subtotal * .024)
              total = subtotal + IGST + convenience;

              str1 = "INR " + price.toString()
              str2 = "Subtotal INR " + subtotal.toString()
              str3 = "IGST INR " + IGST.toString()
              str4 = "Convenience INR " + convenience.toString()
              str5 = "Total INR " + Math.ceil(total).toString()

              $(totString).text(str1)
              $("#subtotal").text(str2)
              $("#IGST").text(str3)
              $("#convenience").text(str4)
              $("#total").text(str5)
      }

        $('button[data-quantity="plus"]').click(function(e){
          e.preventDefault();
          fieldName = $(this).attr('data-field');
          var currentVal = parseInt($('#'+fieldName).text());
          if (!isNaN(currentVal)) {
              $('#'+fieldName).text(currentVal + 1);
              experiences = ({{experience.price}} * (currentVal + 1))
              updateValue(experiences, "#experience-total")
          } else {
              // Otherwise put a 0 there
              $('#'+fieldName).text(0);
          }
      });
      $('button[data-quantity="minus"]').click(function(e) {
          e.preventDefault();
          fieldName = $(this).attr('data-field');
          var currentVal = parseInt($('#'+fieldName).text());
          if (!isNaN(currentVal) && currentVal > 0) {
              $('#'+fieldName).text(currentVal - 1);
              experiences = ({{experience.price}} * (currentVal - 1))
              updateValue(experiences, "#experiences-total")
          } else {
              $('#'+fieldName).text(0);
          }
      });



          $('button[data-quantity="first_plus"]').click(function(e){
            if(experiences==0){
                alert("You can select camper only if you have picked a experience")
            }else {
                  e.preventDefault();
                  fieldName = $(this).attr('data-field');
                  var currentVal = parseInt($('#'+fieldName).text());
                  if (!isNaN(currentVal)) {
                      $('#'+fieldName).text(currentVal + 1);
                      camper = 2999 * (currentVal + 1)
                      updateValue(camper, "#caravan-total")
                  } else {
                      // Otherwise put a 0 there
                      $('#'+fieldName).text(0);
                  }
              }
          });
          $('button[data-quantity="first_minus"]').click(function(e) {
          if(experiences==0){
            alert("You can select camper only if you have picked a experience")
          }else{
              e.preventDefault();
              fieldName = $(this).attr('data-field');
              var currentVal = parseInt($('#'+fieldName).text());
              if (!isNaN(currentVal) && currentVal > 0) {
                  $('#'+fieldName).text(currentVal - 1);
                  camper = 2999 * (currentVal - 1)
                  updateValue(camper, "#camper-total")
              } else {
                  $('#'+fieldName).text(0);
              }
              }
          });


      $('button[data-quantity="second_plus"]').click(function(e){
          e.preventDefault();
          fieldName = $(this).attr('data-field');
          var currentVal = parseInt($('#'+fieldName).text());
          if (!isNaN(currentVal)) {
              $('#'+fieldName).text(currentVal + 1);
              campkit = 2000 * (currentVal + 1)
              updateValue(campkit, "#campkit-total")
          } else {
              // Otherwise put a 0 there
              $('#'+fieldName).text(0);
          }
      });
      $('button[data-quantity="second_minus"]').click(function(e) {
          e.preventDefault();
          fieldName = $(this).attr('data-field');
          var currentVal = parseInt($('#'+fieldName).text());
          if (!isNaN(currentVal) && currentVal > 0) {
              $('#'+fieldName).text(currentVal - 1);
              campkit = 2000 * (currentVal - 1)
              updateValue(campkit, "#campkit-total")
          } else {
              $('#'+fieldName).text(0);
          }
      });

      $("#datetimepicker").datetimepicker({
     timepicker:false,
     format:'Y-m-d',
     minDate:0,
     });

       var options = {
       "currency": "INR",
       "name": "Camping co",
       "description": "Overlanding expedition booked",
       "image": "{% static 'images/favi/apple-icon-72x72.png' %}",
       "handler": function (response){
               var end_point = "{% url 'destination:experiences' %}"
               var end = end_point + "booked/";//success/faliure
               var t = $("input[name=csrfmiddlewaretoken]").val();
               data = {
                 "txnid": response.razorpay_payment_id,
                 "csrfmiddlewaretoken": t
               }
               $.ajax({
                 data: data,
                 url: end,
                 method: "POST",
                 success: function(data){
                 window.location.href = end;
                 },
                 error: function(error){
                     console.log(error)
                 }
             })
       },
       "prefill": {
       },
       "notes": {
           "address": "note value"
       },
       "theme": {
           "color": "#1ab188"
       }
   };

 document.getElementById('rzp-button1').onclick = function(e){
 if ($("input[name=tripDay]").val() == "" || experiences===0){
    alert("Please fill date or pick at least one person experience")
 } else {
    e.preventDefault();
        var paymentMethodEndpoint = "{% url 'destination:experience_detail' slug=experience.slug %}"
        var t = $("input[name=csrfmiddlewaretoken]").val();
        data = {
         "csrfmiddlewaretoken": t,
         "date": $("input[name=tripDay]").val(),
         "camper": camper,
         "experiences": experiences,
         "campkit": campkit,
         "igst": igst,
         "convenience": convenience,
         "amount": total,
        }
      $.ajax({
            data: data,
            url: paymentMethodEndpoint,
            method: "POST",
            success: function(data){
            if (data.error){
              alert("Please log in first");
              window.location.href = "{% url 'register:signin' %}" + "?next=/destination/experiences/{{destination.slug}}"
            } else {
              if (options.amount == 0){
                alert("please check any item");
              } else {
                options.amount = data.amount * 100;
                options.prefill.email = data.email
                options.prefill.name = data.name
                options.key = data.razor_id
                var rzp1 = new Razorpay(options);
                rzp1.open();
                }
            }
            },
            error: function(error){
                console.log(error)
            }
        })
        }
  }
  }
</script>
{% endblock %}