{% extends "snippets/base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/destination/experiences.css' %}">
{% endblock %}
{% block content_block %}

<section class="header">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Introducing experiences</span>
      <span class="heading-primary--sub">One-of-a-kind activities hosted by our network of guides</span>
    </h1>
    <div class="search">
      <input type="text" class="search__input" placeholder="Where are you going">
            <div class="header__vertical-bar"></div>
        <input type="text" class="search__input" placeholder="Date">
      <a href="#" class="btn btn--orange">&#x1F50D;</a>
    </div>
</section>
<section class="intro">
  <p>At Camping Co we believe that travel is more than just sightseeing. Hence we are introducing experiences that are
      one-of-a-kind activities hosted by our handpicked network of guides. These experiences are guaranteed to elevate
      your Overlanding journey with us.</p>
</section>
<section class="destinations">
  <h2 class="destinations__heading">Incredible destinations</h2>
  <div class="wrapper">
    <div class="card" style="background-image: url({% static 'images/experiences/1.jpg' %})">
      <p class="card__text">The Jungle Book</p>
    </div>

  <div class="card" style="background-image: url({% static 'images/experiences/2.jpg' %})">
      <p class="card__text">Deep beneath the ground</p>
  </div>
    <div class="card" style="background-image: url({% static 'images/experiences/3.jpg' %})">
      <p class="card__text">The Hidden Treasure of the Meghalaya</p>
  </div>

  <div class="card" style="background-image: url({% static 'images/experiences/4.jpg' %})">
      <p class="card__text">Cascading down a rocky waterfall</p>
  </div>
    <div class="card" style="background-image: url({% static 'images/experiences/5.jpg' %})">
      <p class="card__text">Bluewater Meghalaya</p>
  </div>

  <div class="card" style="background-image: url({% static 'images/experiences/6.jpg' %})">
      <p class="card__text">Whitewater Kayaking Meghalaya</p>
  </div>
  </div>
   <a class="btn btn--grey" style="width:30rem; margin:0 auto;">Explore All destinations</a>
</section>
{% endblock %}